//? Global sider styles
.sider {
  background-color: var(--bg-primary);
  right: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.siderHidden {
  display: none;
}

//? Sider header styles
.header {
  padding: 12px 24px;
  border-bottom: var(--border-less-primary);
}

.headerTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  color: var(--content-secondary);
  font: var(--title-lg);
  text-transform: uppercase;

  @media (max-width: 640px) {
    font: var(--title-md);
  }
}

.clearNotificationsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--content-primary);
  font: var(--btn-text-sm);
  background: unset;
  border: unset;
  cursor: pointer;
  padding: 0;

  svg {
    path {
      fill: var(--content-primary);
    }
  }
}

.content {
  padding: 12px 24px;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}
.contentCentered {
  justify-content: center;
  align-items: center;
}

.noNotificationsText {
  padding-top: 6px;
}

.contentTitle {
  font: var(--title-lg);
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-bottom: 16px;

  @media (max-width: 640px) {
    margin-bottom: 8px;
    font: var(--title-md);
  }
}
.contentTitleSign {
  margin-bottom: 8px;
}

.contentTitleOffsetTop {
  padding-top: 24px;

  @media (max-width: 640px) {
    padding-top: 16px;
  }
}

.signMessageSubtitle {
  font: var(--body-text-lg);
  margin-bottom: 8px;
}

.signMessageButton {
  width: 100%;
}

.ledgerCheckbox {
  margin-bottom: 8px;
}

//? Notifications list
.notficationsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 16px;
}

.notificationCard {
  width: 100%;
  padding: 16px;
  border: 1px solid var(--bg-border);
}

.notificationCardInfo {
  display: flex;
  column-gap: 8px;
  font: var(--body-text-sm);
  margin-bottom: 8px;
  position: relative;
}
.notificationCardUnread {
  &::after {
    content: '';
    position: absolute;
    left: -5px;
    top: -6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--additional-green-primary);
  }
}

.notificationCardImg {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.notificationCardDate {
  color: var(--content-secondary);
  font: var(--body-text-xs);
}
