.settingsLabel {
  color: var(--content-secondary);
  margin-bottom: 10px;
  text-transform: uppercase;
  font: var(--table-header-md);
}

//? Discord
.discordSettings {
  width: 100%;
}

.discordSettingsWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.discordSettingsAvatar {
  &,
  svg {
    width: 88px;
    height: 88px;
  }
}

.discordSettingsUserInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.discordSettingsUserName {
  font: var(--body-text-lg);
}

.discordAlert {
  padding: 8px 16px;
  border: 1px solid var(--additional-gold-primary);
  background: var(--additional-gold-secondary);
  color: var(--content-primary);
  font: var(--body-text-xs);
  display: flex;
  gap: 12px;
  align-items: center;

  a {
    color: inherit;
  }
}

//? Events
.eventsList {
  width: 100%;
  display: grid;
  row-gap: 8px;
  column-gap: 24px;

  @media screen and (max-width: 1024px) and (min-width: 575px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.eventsListRow {
  font: var(--body-text-lg);
  display: flex;
  justify-content: space-between;
}
