// * FilterSection * //
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  gap: 16px;
  width: 100%;

  @media (max-width: 960px) {
    padding: 8px 16px;
  }
}

.searchSelect {
  max-width: 256px;
}

.sortDropdown {
  @media (max-width: 960px) {
    display: none;
  }
}

.filterContent {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}
// * FilterSection * //

// * CategoryDropdown * //
.dropdownContainer {
  position: relative;
}

.dropdown {
  background: var(--bg-primary);
  border: var(--border-primary);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;

  position: absolute;
  top: 45px;
  left: 0;
  z-index: 4;

  @media screen and (max-width: 960px) {
    border: 0;
    border-top: var(--border-primary);
    padding: 24px;

    position: fixed;
    top: unset;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  @media screen and (max-width: 640px) {
    padding: 16px;
    gap: 8px;
  }
}

.dropdownButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 144px;
  width: 100%;

  position: relative;

  &.isOpen {
    border: 1px solid var(--bg-border-active);
  }
}

.dropdownButtonOverlayLabel {
  color: var(--content-secondary);
  font: var(--title-xs);
  text-transform: uppercase;

  position: absolute;
  left: 12px;
  top: -6px;
  z-index: 1;
}

// * CategoryDropdown * //

// * CategoryDropdown * //

.chevronIcon {
  path {
    fill: var(--content-primary) !important;
  }

  &.rotate {
    transform: rotate(180deg);
  }
}

.dropdownItem {
  background: var(--action-primary);
  color: var(--content-secondary);
  font: var(--body-text-md);
  min-width: 46px;

  &.active {
    background: var(--bg-primary);
    border-color: var(--bg-border-active);
    color: var(--content-primary);
    pointer-events: none;
  }
}
// * CategoryDropdown * //
