.mainSummary {
  background: var(--bg-action);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 16px;
  gap: 16px;
  padding: 8px;
  width: 100%;
}

.mainSummaryStat {
  align-items: center;
  width: 100%;
}

.separateLine {
  background: var(--bg-border);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 1px;
}

.additionalSummary {
  border: 1px dotted var(--bg-border);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  margin-bottom: 16px;

  @media (max-width: 640px) {
    border-left: 0;
    border-right: 0;
    gap: 4px;
    margin: 0 -16px 16px;
  }
}

.aprValue {
  color: var(--additional-green-primary-deep);
}
