.mainContainer {
  flex-direction: column-reverse;
  gap: unset;
}

.mainValue {
  font: var(--important-text-lg);
  line-height: 26px;
}

.mainLabel {
  font: var(--table-header-md);
  line-height: 16px;
}

.chartStatInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.chartStatInfoValue {
  font: var(--body-text-md);
}

.chartStatInfoLabelWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chartStatInfoLabel {
  color: var(--content-secondary);
  font: var(--table-header-md);
  text-transform: uppercase;
}

.chartStatInfoIndicator {
  border-radius: 100px;
  display: flex;
  height: 8px;
  width: 8px;
}
