.content {
  padding-bottom: 24px;
}

.content.selected {
  @media (max-width: 960px) {
    padding-bottom: 114px;
  }

  @media (max-width: 650px) {
    padding-bottom: 80px;
  }
}

.emptyList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyListTitle {
  font: var(--body-text-md);
}

.marketsList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
