.content {
  padding-bottom: 24px;
}

.content.selected {
  @media (max-width: 960px) {
    padding-bottom: 84px;
  }
}

.emptyList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyListTitle {
  font: var(--body-text-md);
}
