.container {
  display: flex;
  flex: 1;
  width: 100%;
}

.leftSide {
  width: 50%;
}

.rightSide {
  width: 50%;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(162px, 2fr));
  padding: 12px 24px;
  gap: 24px;
}
