.button {
  @media screen and (max-width: 960px) {
    padding: unset !important;
    min-height: 32px;
    min-width: 32px;
  }
}

.buttonActive {
  border-color: var(--content-primary) !important;
}

.buttonText {
  @media screen and (max-width: 960px) {
    display: none;
  }
}
