.modal {
  :global {
    z-index: 2;

    .ant-modal-body {
      padding: 0 !important;
      margin: -1px;
    }
  }
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid var(--primary-text);
    background-color: var(--primary-text);
    top: 4px;
    left: 4px;
  }
}

.closeModalSection {
  height: 40px;
  display: flex;
  align-items: center;
  background: var(--primary-background);
  border-radius: 30px;
  position: absolute;
  top: -64px;
  right: 0;

  @media screen and (max-width: 1024px) {
    top: -60px;
  }

  @media screen and (max-width: 550px) {
    top: -55px;
    height: 35px;
  }
}

.closeModalIcon {
  height: 40px;
  width: 40px;
  border: 1px solid var(--primary-border);
  background: var(--primary-background);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -1px;
  cursor: pointer;

  @media screen and (max-width: 550px) {
    font-size: 18px;
    height: 35px;
    width: 35px;
  }

  &:hover {
    border-color: var(--secondary-border);
  }
}

.closeIcon {
  width: 12px;

  stroke: var(--secondary-border);

  rect {
    fill: var(--secondary-border);
  }
  @media screen and (max-width: 470px) {
    width: 15px;
  }
}

.content {
  padding: 32px;
  color: var(--black-color);
  min-height: 498px;

  @media screen and (max-width: 960px) {
    padding: 18px;
    min-height: 448px;
  }
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 18px;
}

.statsCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  p:first-child {
    font: 700 32px var(--font-family-chakra);
    @media screen and (max-width: 960px) {
      font-size: 24px;
    }
  }

  p:last-child {
    font: 700 12px var(--font-family-syne);
    text-transform: uppercase;
    @media screen and (max-width: 960px) {
      font-size: 8px;
    }
  }
}

.nfts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
  overflow-y: scroll;
  max-height: 360px;
  padding-bottom: 92px;
}

.noNfts {
  height: 360px;
  padding-bottom: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;

  p {
    text-align: center;
    font: 400 24px var(--font-family-chakra);
  }
}
.tensorBtn {
  display: flex;
  align-items: center;
  column-gap: 8px;
  position: relative;
  a {
    position: absolute;
    inset: 0 0 0 0;
  }
}

.nft {
  user-select: none;
  border: 1px solid var(--primary-border);

  p {
    text-align: center;
    font: 400 14px var(--font-family-chakra);
    padding: 8px 0;
  }
}
.nftPointer {
  cursor: pointer;
}
.nftDisabled {
  cursor: not-allowed;
  pointer-events: none;
}

.image {
  position: relative;
  background: #faf4fe;

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.selected {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #000000b0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    width: 20%;
    height: 3%;
    background: #fff;
    border-radius: 10%;
  }
}

.additionalText {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000b0;
  color: #fff;
  font: 700 20px var(--font-family-chakra);
  text-align: center;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 24px;
  background-color: var(--primary-background);
  border-top: 1px solid var(--secondary-border);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  z-index: 3;
}

.footerBtn {
  padding: 10px;
}

.tabs {
  flex-wrap: nowrap;
}
