.modal {
  border: 1px solid var(--bg-border);
  background-color: var(--bg-primary);

  position: absolute;
  top: 8px;
  right: 24px;
  padding: 16px;
  width: 370px;

  @media (max-width: 767px) {
    border: 0;
    border-bottom: var(--border-primary);

    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}

.walletItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 32px;
}

.walletItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  font: var(--btn-text-sm);

  &:hover {
    background-color: var(--color-dark);
  }

  img {
    width: 24px;
    height: 24px;
  }
}

.walletIcon path {
  fill: var(--content-primary);
}

/* UserInfo Styles */

.userInfoContainer {
  background-color: var(--primary-background);
  width: 100%;
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  margin-top: 24px;

  @media (max-width: 960px) {
    justify-content: space-between;
    max-width: 550px;
    margin: 24px auto;
    padding: 0 65px;
  }
}

.changeWalletButton,
.signOutButton {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: var(--secondary-border);
  font: var(--font-btn-middle);

  svg path {
    fill: var(--content-primary);
  }
}

/* UserGeneralInfo Styles */

.userGeneralInfoContainer {
  display: grid;
  grid-template: 1fr 1fr / auto 1fr;
  margin-bottom: 20px;
  align-items: center;
  column-gap: 16px;
}

.avatarIcon {
  width: 72px;
  grid-row: 1 / -1;
}

.userAddressSection {
  cursor: pointer;
  display: flex;
  grid-row: 1;
  align-items: center;
  padding-bottom: 6px;
  gap: 6px;
  width: 100%;

  svg path {
    fill: var(--black-color);
  }
}

.addressText {
  color: var(--black-color);
  font: var(--font-text-8);
  font-weight: 700;
}

.ledgerCheckbox {
  grid-row: 2;
}

.userBalance {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.userBalanceColumn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: var(--font-text-8);

  p:first-child {
    color: var(--secondary-text);
    font: var(--font-text-6);
    text-transform: uppercase;
  }

  p:last-child {
    display: flex;
    align-items: center;
    gap: 3px;
  }
}
