.modal {
  border: 1px solid var(--bg-border-color);
  background-color: var(--bg-primary-color);

  position: absolute;
  top: 80px;
  right: 15px;
  padding: 16px;

  width: 370px;

  @media (max-width: 767px) {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    max-width: unset;
    width: 100%;
    box-shadow: unset;
    border: 0;
    border-bottom: 1px solid var(--bg-border-color);
  }
}

.walletItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 32px;
}

.walletItem {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  font: var(--btn-text-sm);

  &:hover {
    background-color: var(--color-dark);
  }

  img {
    width: 24px;
    height: 24px;
  }
}

.walletIcon path {
  fill: var(--content-primary);
}

//? UserInfo component styling

.userInfo {
  background-color: var(--primary-background);
  width: 100%;
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  margin-top: 24px;

  @media (max-width: 960px) {
    justify-content: space-between;
    max-width: 550px;
    margin: 24px auto;
    padding: 0 65px;
  }
}

.button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: var(--secondary-border);
  font: var(--font-btn-middle);
}

.button svg path {
  fill: var(--content-primary);
}

.userGeneralInfo {
  display: grid;
  grid-template: 1fr 1fr / auto 1fr;
  margin-bottom: 20px;
  align-items: center;
  column-gap: 16px;
}

.userAddress {
  width: 100%;
  grid-row: 1;

  cursor: pointer;
  display: flex;
  align-items: center;
  padding-bottom: 6px;
  gap: 6px;

  p {
    color: var(--black-color);
    font: var(--font-text-8);
    font-weight: 700;
  }

  svg path {
    fill: var(--black-color);
  }
}

.avatar {
  width: 72px;
  grid-row: 1 / -1;
}

.ledgerCheckbox {
  grid-row: 2;
}

.userBalance {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.userBalanceColumn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: var(--font-text-8);

  p:first-child {
    color: var(--secondary-text);
    font: var(--font-text-6);
    text-transform: uppercase;
  }

  p:last-child {
    display: flex;
    align-items: center;
    gap: 3px;
  }
}
