.pageWrapper {
  display: flex;
  flex-direction: column;
}

.header {
  background: url('./assets/headerBg.svg') var(--accent-primary) no-repeat center;
  background-size: cover;
  color: #1b1b1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 88px 0 84px;

  h1 {
    font: 700 60px var(--font-family-syne);
    text-align: center;
  }
  h2 {
    font: 500 28px var(--font-family-chakra);
    text-align: center;
  }

  @media screen and (max-width: 960px) {
    padding: 88px 24px 96px;

    h1 {
      font-size: 48px;
    }
    h2 {
      font-size: 25px;
    }
  }

  @media screen and (max-width: 640px) {
    padding: 38px 16px 20px;

    h1 {
      font-size: 26px;
    }
    h2 {
      font-size: 20px;
    }
  }
}
.headerDark {
  background-image: url('./assets/headerBgDark.svg');
}

.content {
  padding: 0 24px;

  @media screen and (max-width: 640px) {
    transform: unset;

    padding: 0 16px;
  }
}

.advantages {
  transform: translateY(-50%);
  margin: 0 auto -32px;
  width: 800px;
  padding: 24px;
  display: flex;
  background: var(--bg-primary);
  border: var(--border-less-primary);
  box-shadow: 4px 4px 0 0 var(--bg-border);

  @media screen and (max-width: 1280px) and (min-width: 961px) {
    width: 100%;
  }

  @media screen and (max-width: 960px) {
    margin: 0 0 -32px;
    width: unset;
  }

  @media screen and (max-width: 640px) {
    transform: unset;
    padding: 16px;
    margin: 0 -16px 24px;
    box-shadow: 0 4px 0 0 var(--bg-border);
    border-left: unset;
    border-right: unset;
  }
}

.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;

  svg {
    height: 40px;
    path {
      fill: var(--content-primary);
    }
  }

  p {
    text-align: center;
    text-transform: uppercase;
    font: 700 14px var(--font-family-syne);
  }

  @media screen and (max-width: 640px) {
    svg {
      height: 32px;
    }

    p {
      font-size: 8px;
    }
  }
}

.listsWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;

  @media screen and (max-width: 1280px) and (min-width: 961px) {
    width: 100%;
  }

  @media screen and (max-width: 960px) {
    margin: 0;
    width: unset;
    grid-template-columns: 1fr;
    row-gap: 28px;
  }

  @media screen and (max-width: 640px) {
    margin: 0;
    column-gap: 16px;
    row-gap: 20px;
  }
}

.listCol {
  display: flex;
  flex-direction: column;

  ul {
    font: var(--body-text-md);
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &:first-child {
    align-items: flex-end;
    ul {
      text-align: right;
    }
  }

  @media screen and (max-width: 960px) {
    &:first-child {
      align-items: flex-start;
      ul {
        text-align: left;
      }
    }
  }
}

.button {
  width: 388px;
  text-decoration: none;
  margin-bottom: 18px;
  display: block;

  @media screen and (max-width: 1280px) {
    width: 100%;
  }

  button {
    width: 100%;
    font: 600 22px var(--font-family-chakra);
    height: 48px !important;
  }

  @media screen and (max-width: 960px) {
    margin-bottom: 16px;
  }
  @media screen and (max-width: 640px) {
    button {
      font-size: 16px;
      height: 40px !important;
    }
  }
}
