.card {
  border: var(--border-primary);
  display: flex;
  flex-direction: column;
  position: relative;
}
.card.clicable {
  cursor: pointer;

  &:hover {
    border: 1px solid var(--bg-border-active);
  }
}
.card.disabled {
  pointer-events: none;
}
.card:hover .borrowButton {
  background-color: var(--accent-secondary);
}

.badge {
  background: var(--additional-green-secondary);
  color: var(--additional-green-primary-deep);
  font: var(--body-text-sm);
  position: absolute;
  top: 0;
  left: 8px;
  padding: 1px 8px;
  z-index: 1;
}

.nftImage {
  object-fit: cover;
  width: 100%;

  @media (max-width: 960px) {
    height: 100%;
  }
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  height: 54px;

  & > div {
    gap: unset;

    &:last-child {
      align-items: flex-end;
    }
  }

  &.fullHeight {
    align-items: flex-end;
    height: 70px;
  }
}

.borrowButton {
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 52px;
}

.lendCardFooter {
  display: flex;
  flex-direction: column;
  padding: 8px;

  & > div:last-child {
    line-height: 21px;
  }
}
.lendCardBadge {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: var(--body-text-sm);
}

.statCol {
  display: flex;
  flex-direction: column;
}
.statLabel {
  color: var(--content-secondary);
  font: var(--title-sm);
  text-transform: uppercase;

  @media (max-width: 640px) {
    font: var(--title-xs);
  }
}
.statValue {
  display: flex;
  font: var(--body-text-md);

  @media (max-width: 640px) {
    font: var(--body-text-sm);
  }
}
.tooltip {
  display: flex;
  align-items: center;
  gap: 2px;
}
.tooltipIcon svg {
  fill: var(--content-secondary);
  width: 12px;
  height: 12px;
}

.tooltipContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.tooltipRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 196px;
}
.tooltipRowLabel {
  color: var(--content-secondary);
  font: var(--title-sm);
  text-transform: uppercase;

  @media (max-width: 640px) {
    font: var(--title-xs);
  }
}

.tooltipRowValue {
  font: var(--body-text-md);

  @media (max-width: 640px) {
    font: var(--body-text-sm);
  }
}
