.card {
  border: var(--border-primary);
  display: flex;
  flex-direction: column;
  position: relative;
}
.card.clicable {
  cursor: pointer;

  &:hover {
    border: 1px solid var(--bg-border-active);
  }
}

.badge {
  background: var(--accent-primary);
  position: absolute;
  top: 0;
  left: 8px;
  padding: 1px 8px;
  z-index: 1;
}

.nftImage {
  object-fit: cover;
  width: 100%;

  @media (max-width: 960px) {
    height: 100%;
  }
}

.borrowCardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;

  & > div:last-child {
    align-items: flex-end;
  }
}
.borrowCardStatContainer {
  gap: unset;
}
.borrowCardStatValue {
  display: flex;
  align-items: center;
  line-height: 21px;
}

.lendCardFooter {
  display: flex;
  flex-direction: column;
  padding: 8px;

  & > div:last-child {
    line-height: 21px;
  }
}
.lendCardBadge {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: var(--body-text-sm);
}
