.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.emptyList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyListTitle {
  font: var(--body-text-md);
}

.marketsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  padding-bottom: 24px;

  @media (max-width: 640px) {
    gap: 8px;
  }
}
