// * EscrowVault * //
.title {
  color: var(--content-primary);
  font: var(--title-md);
  text-transform: uppercase;

  display: flex;
  align-items: center;
  padding: 12px 0 0;
  gap: 4px;
}

.errorMessageContainer {
  height: 14px;

  & > * {
    font: var(--body-text-xs);
  }
}

.actionWrapper {
  margin: 0 -16px;
  border-bottom: 0.5px dashed var(--bg-border);
  padding: 8px 16px 12px;
}

.actionButton {
  width: 100%;
}
// * EscrowVault * //

// * EscrowTabs * //
.tabs {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 48px 1fr;
  padding: 10px 0;
}

.tab {
  border: var(--border-less-primary);
  border-radius: 6px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;

  &.active {
    pointer-events: none;
    background: var(--accent-primary-sub);
    border-color: var(--accent-primary-sub);
  }
}

.tabBalance {
  font: var(--important-text-md);
  margin-bottom: 2px;
}

.tabLabel {
  color: var(--content-tertiary);
  text-transform: uppercase;
  font: var(--title-sm);
  text-align: center;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  &.rotated {
    transform: rotate(180deg);
  }

  svg {
    fill: var(--accent-primary);
    width: 18px;
    height: 18px;
  }
}
// * EscrowTabs * //

// * ClaimSection * //
.claimSection {
  padding-top: 8px;
}

.lenderValtStatsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  &.hiddenBorder {
    border-top: 0;
  }
}

.lenderVaultStats {
  display: flex;
  align-items: center;
  gap: 12px;

  & > div {
    gap: 0;
  }
}
// * ClaimSection * //

// * BanxSolEpochContent * //
.epochStats {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  gap: 4px;

  & > div {
    gap: 4px;

    span {
      display: flex;
      align-items: center;
    }

    svg path {
      fill: revert-layer;
    }
  }
}

.claimableValue {
  display: flex;
  align-items: center;
  gap: 2px;

  svg path {
    fill: revert-layer;
  }
}

// * BanxSolEpochContent * //
