.liquidityCell {
  color: var(--additional-green-primary-deep);
  font: var(--important-text-md);
}

.borrowTable table {
  tr {
    th,
    td {
      min-width: 176px;
      max-width: 176px;

      &:first-child {
        min-width: 220px;
        max-width: 220px;
      }
    }
  }
}
