.liquidityCell {
  color: var(--additional-green-primary-deep);
  font: var(--important-text-md);
}

.borrowTable {
  min-width: 652px;

  table {
    tr > td,
    tr > th {
      width: 144px;

      &:first-child {
        width: 220px;
      }
    }
  }
}
