.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  gap: 16px;
  width: 100%;

  @media (max-width: 960px) {
    max-height: 64px;
    padding: 16px;
  }
}

.filterWrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.searchSelect {
  max-width: 750px;
}

.filterButton {
  svg path {
    fill: #fa8c16;
  }

  &.active {
    border-color: var(--content-primary);
  }
}
