.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  gap: 16px;
  width: 100%;

  @media (max-width: 960px) {
    max-height: 64px;
    padding: 16px;
  }
}

.searchSelect {
  max-width: 750px;
}
