.burgerMenuWrapper {
  display: none;

  @media screen and (max-width: 960px) {
    background: var(--bg-primary);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 24px 0 120px;
    overflow: auto;
    height: 100vh;
    width: 100%;
    z-index: 99;
  }
}

.burgerMenuWrapper.hidden {
  display: none;
}

.communityContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}
.communitySubtitle {
  color: var(--content-secondary);
  font: var(--table-header-md);
  text-transform: uppercase;
}

.iconContainer {
  display: flex;
  margin-top: 16px;
  gap: 16px;

  svg {
    width: 24px;
    height: 24px;
  }
}

.burgerIcon {
  display: none;
  cursor: pointer;

  @media screen and (max-width: 960px) {
    display: flex;
    justify-content: center;
    margin-left: 24px;
  }

  @media (max-width: 640px) {
    margin-left: 8px;
  }

  svg path {
    fill: var(--content-primary);
  }
}

.link {
  padding: 8px 24px;
  height: unset;
}

.navigationList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  a {
    display: flex;
    justify-content: center;
    font: var(--menu-tab-lg) !important;
    padding: 8px 24px !important;
    width: 100%;
  }

  svg {
    display: none;
  }
}
