.burgerMenu {
  display: none;

  @media screen and (max-width: 960px) {
    background: var(--bg-secondary);
    border-left: var(--border-less-primary);

    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    width: 304px;

    padding: 12px 0 80px;

    position: fixed;
    right: 0;
    z-index: 99;
  }

  @media screen and (max-width: 640px) {
    padding: 8px 0 80px;
    width: 208px;
  }

  &.hidden {
    display: none;
  }
}

.communityContainer {
  position: fixed;
  bottom: 24px;
  width: 304px;

  @media screen and (max-width: 640px) {
    bottom: 16px;
    width: 208px;
  }
}

.burgerIcon {
  display: none;
  cursor: pointer;

  svg path {
    fill: var(--content-primary);
  }

  @media screen and (max-width: 960px) {
    display: flex;
    justify-content: center;
    margin-left: 24px;
  }

  @media (max-width: 640px) {
    margin-left: 8px;
  }
}
