.header {
  border-bottom: var(--border-less-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  width: 100%;
}

.walletInfoContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}
.walletInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 256px;
  width: 100%;
}
.walletAddress {
  font: var(--title-lg);
  text-transform: uppercase;
}
.connectWalletButton {
  width: 100%;
}

.avatar {
  border-radius: 100%;
  height: 88px;
  width: 88px;
}

// Loyalty block styles
.loyaltyContainer {
  display: flex;
  align-items: center;
  gap: 24px;
}
.loyaltyInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.loyaltyInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.loyaltyDetails {
  display: flex;
  flex-direction: column;
}
.loyaltyMultiplier {
  color: var(--additional-gold-primary-deep);
  font: var(--important-text-xll);
}
.loyaltyTitle {
  color: var(--content-secondary);
  font: var(--table-header-md);
  text-transform: uppercase;
}
.loyaltySubtitle {
  font: var(--important-text-md);
}
.stakeBanxButton {
  width: 100%;
}
