.header {
  border-bottom: var(--border-less-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  width: 100%;
}

.walletInfoContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}

.notConnectedTitle {
  font: var(--title-lg);
  text-transform: uppercase;
}

.participantsInfo {
  flex-direction: column-reverse;
  align-items: flex-end;
}
.participantsValue {
  font: var(--important-text-md);
}
.participantsLable {
  color: var(--content-primary);
  font: var(--table-header-md);
}

.walletInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 256px;
  width: 100%;

  @media (max-width: 1280px) {
    display: none;
  }
}
.walletInfoMobile {
  @media (min-width: 1281px) {
    display: none;
  }
}

.walletInfoMobileBadge {
  background: var(--additional-green-secondary);
  border: 0.5px solid var(--additional-green-primary-deep);
  border-radius: 100px;
  color: var(--additional-green-primary-deep);

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  left: 8px;
  width: 72px;
}

.walletAddress {
  font: var(--title-lg);
  line-height: 42px;
  text-transform: uppercase;
}
.connectWalletButton {
  width: 100%;
}

.avatar {
  &,
  svg,
  img {
    border-radius: 100%;
    height: 88px;
    width: 88px;
  }
}

// Loyalty block styles
.loyaltyContainer {
  display: flex;
  align-items: center;
  gap: 24px;
}
.loyaltyInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.loyaltyInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.loyaltyDetails {
  display: flex;
  flex-direction: column;
}
.loyaltyMultiplier {
  color: var(--additional-gold-primary-deep);
  font: var(--important-text-xll);
}
.loyaltyTitle {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--content-secondary);
  font: var(--table-header-md);
  text-transform: uppercase;
}
.loyaltySubtitle {
  font: var(--important-text-md);
}
.stakeBanxButton {
  &,
  button {
    text-decoration: none;
    width: 100%;
  }
}

.progressContainer {
  position: relative;
  width: 116px;
  height: 74px;
}

.textContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);

  flex-direction: column-reverse;
  align-items: center;
  gap: 0;

  .value {
    font: var(--important-text-xl);
  }
}
