.actionsButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
}

.terminateButton,
.instantButton {
  width: 100%;
}

.lentInfo,
.statusInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;
}

.statusInfoTitle {
  font: var(--body-text-md);
}

.statusInfoSubtitle {
  font: var(--body-text-sm);
  text-transform: capitalize;
}
