.content {
  padding: 24px;

  @media (max-width: 640px) {
    padding: 16px;
  }
}

.offerHeaderContent {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;

  @media (max-width: 640px) {
    margin-bottom: 0;
  }
}
.offerHeaderTitle {
  font: var(--title-sm);
  text-transform: uppercase;
  line-height: 38px;

  @media (max-width: 640px) {
    font: var(--title-xs);
    line-height: 32px;
  }
}

.actionsButtonsContainer,
.editModeButtonsContainer {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (max-width: 640px) {
    gap: 8px;
  }
}
.editModeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}
.actionButton {
  width: 144px;

  @media (max-width: 640px) {
    width: 100%;
  }
}
.placeOfferButton {
  width: 100%;
}

.switchModeButtons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.deleteOfferButton {
  background-color: var(--additional-red-secondary) !important;
  border: 1px solid var(--additional-red-primary) !important;

  &:hover {
    border: 1px solid var(--additional-red-primary-deep) !important;
  }
}

.switchButton {
  height: 40px;

  @media (max-width: 640px) {
    height: 32px;
  }

  &.active {
    color: var(--pure-black);
    background: var(--accent-primary);
  }

  &.disabled {
    background: var(--bg-secondary);
    color: var(--content-secondary);
  }
}

.borrowerMessage {
  font: var(--body-text-sm);
}

