.pageWrapper {
  max-height: 100%;
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow-y: hidden;

  @media screen and (max-width: 960px) {
    display: block;
  }
}

.loader {
  margin: 18px auto;
}

.content {
  height: 100%;
  width: 100%;
  overflow-y: scroll;

  &.active {
    @media screen and (max-width: 1280px) {
      padding-bottom: 302px;
    }

    @media screen and (max-width: 640px) {
      padding-bottom: 242px;
    }
  }
}

.adventuresList {
  padding: 12px 0;

  @media screen and (max-width: 640px) {
    padding: 8px 0;
  }
}

.sidebar {
  height: 100%;
  max-width: 344px;
  border-left: 0.5px solid var(--bg-border);

  @media screen and (max-width: 1280px) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: unset;
    height: unset;
    border-left: unset;
    border-top: 0.5px solid var(--bg-border);
  }

  //? Prevent zIndex bug on phantom mobile app
  @media screen and (max-width: 640px) {
    position: fixed;
  }
}
