.rootSelectClassName {
  background-color: var(--bg-primary);
  color: var(--content-primary);
  margin-left: 32px;
  width: calc(100% - 32px);

  .ant-select-selector {
    background: var(--bg-primary) !important;
    box-shadow: none !important;
    border: 0 !important;
    padding: 5px 0px;
    padding-inline-end: 40px !important;
    transition: none !important;

    @media (max-width: 640px) {
      padding: 1px 0px;
    }
  }

  .ant-select-selection-item {
    background: var(--additional-lime-secondary);
    border: 1px solid var(--accent-primary);
    border-radius: 100px;
    font: var(--card-header-sm);

    padding-inline-start: 8px;
    padding-inline-end: 8px;
    margin-inline-start: 8px;

    .ant-select-selection-item-content img,
    .searchSelectImageContainer {
      border-radius: 100px;
      height: 16px;
      width: 16px;
    }

    .searchSelectImageContainer > div {
      display: none;
    }
  }

  .ant-select-selection-placeholder {
    color: var(--content-secondary);
    font: var(--body-text-md);
  }

  .ant-select-selection-item-content {
    display: flex !important;

    & > div > p {
      display: none;
    }
  }

  .ant-select-selection-overflow {
    flex-wrap: nowrap;
    overflow: auto;
  }

  ::-webkit-scrollbar {
    height: 0px;
  }
}

/* Icons styles */
.rootSelectClassName {
  * > svg path,
  * > svg rect {
    fill: var(--content-primary);
  }

  .ant-select-clear {
    background: none;
    opacity: 1;
    width: 12px;
    right: 16px;
  }
}

.rootSelectPopupClassName {
  background: var(--bg-primary);
  border: var(--border-primary);
  border-top: 0;
  border-radius: 0;
  box-shadow: none;
  color: var(--content-primary);

  font: var(--card-header-sm);

  top: 39px !important;
  left: -65px !important;

  padding: 0;
  min-width: 330px !important;
  width: calc(100% + 34px) !important;

  @media (max-width: 640px) {
    top: 31px !important;
  }

  .ant-select-item {
    border-radius: 0;
    color: var(--content-primary);
    padding: 8px;
    transition: none;
  }

  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background: var(--bg-action) !important;
  }

  .ant-select-item-option-selected {
    color: var(--content-primary) !important;
    background: var(--bg-primary) !important;
    font-weight: 400 !important;
  }

  .ant-select-item-option-state {
    display: none;
  }
}
