.tabsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.root {
  background: transparent;
  border: 0;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:disabled {
    background: var(--bg-tertiary);
    color: var(--content-secondary);
    pointer-events: none;
  }

  @media (max-width: 640px) {
    height: 32px;
  }
}

.primary {
  background: var(--bg-tertiary);
  border-bottom: var(--border-less-primary);
  color: var(--content-primary);
  font: var(--body-text-lg);
  width: 100%;

  &:hover {
    background: var(--primary-background);
  }

  @media (max-width: 640px) {
    font: var(--body-text-md);
  }
}
.primary:first-child {
  border-right: var(--border-less-primary);
}
.primary:last-child {
  border-left: var(--border-less-primary);
}

.tabActive {
  border-bottom-color: transparent;
  background: transparent;

  &,
  &:hover {
    pointer-events: none;
  }
}
