.navbar {
  background: var(--bg-secondary);
  border-right: var(--border-less-primary);

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  width: 192px;

  @media (max-width: 960px) {
    display: none;
  }
}

.link {
  color: var(--content-primary);
  border-right: 4px solid transparent;

  display: flex;
  align-items: center;
  gap: 8px;

  font: var(--title-sm);
  font-weight: 400;
  padding-left: 24px;
  text-transform: uppercase;
  text-decoration: none;
  height: 40px;

  &:hover {
    border-color: var(--accent-secondary);
    background: var(--additional-green-secondary);
  }

  svg path {
    fill: var(--content-primary);
  }

  &.primary {
    font: var(--title-sm);
  }
  &.secondary {
    padding-left: 56px;
  }
  &.active {
    border-color: var(--accent-secondary);
    background: var(--additional-green-secondary);
    pointer-events: none;
  }
}

.stake {
  path {
    fill: var(--content-primary) !important;
  }

  path[fill-rule] {
    fill: #1b1b1b !important;
  }
}

.internalLinks {
  border-bottom: var(--border-less-primary);
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  width: 100%;

  &:last-child {
    border-bottom: 0;
  }

  @media screen and (max-width: 640px) {
    padding: 8px 0;
  }
}

.externalLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-bottom: 8px;
  height: 100vh;
  width: 100%;

  @media (max-width: 960px) {
    padding-bottom: 0;
    height: 100%;
  }

  & > a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;

    &:hover {
      svg path {
        fill: var(--content-primary);
      }
    }

    /* Special styling for second link (Discord icon) */
    &:nth-child(2) {
      svg path:not(:first-child) {
        fill: var(--bg-primary);
      }

      &:hover {
        svg path:not(:first-child) {
          fill: var(--bg-primary);
        }
      }
    }
  }
}
