@sidebar-width: 192px;

.container {
  background: var(--bg-secondary-color);
  border-right: 0.5px solid var(--bg-border-color);

  position: fixed;
  left: 0;

  display: flex;
  flex-direction: column;

  padding: 24px 0;
  min-width: @sidebar-width;
  max-width: @sidebar-width;
  overflow-y: scroll;
  height: 100vh;

  @media (max-height: 700px) {
    padding-bottom: 150px;
  }

  @media (max-width: 960px) {
    display: none;
  }
}

.link {
  color: var(--content-primary-color);
  font: var(--menu-tab-md);

  display: flex;
  align-items: center;
  gap: 8px;

  padding-left: 24px;
  height: 40px;

  text-transform: uppercase;
  text-decoration: none;
  user-select: none;
}
.link.secondary {
  font: var(--menu-tab-sm);
  padding-left: 56px;
}
.link.active {
  border-right: 4px solid var(--accent-secondary);
  background: var(--additional-green-secondary);
  pointer-events: none;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 2px;

  border-bottom: 0.5px solid var(--bg-border-color);
  width: 100%;
}
.navigation:last-child {
  border-bottom: 0;
}
