.labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 12px;
  color: var(--content-secondary);
  font: var(--table-header-sm);
  text-transform: uppercase;
}

.selectWrapper {
  background: var(--bg-action);
  border: var(--border-primary);
  position: relative;
  height: 40px;
  width: 100%;

  @media (max-width: 960px) {
    max-width: unset !important;
  }

  @media (max-width: 640px) {
    height: 32px;
  }

  &.active {
    border-bottom: 1px solid transparent;
  }
}

.prefix {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  padding-left: 12px;

  svg {
    width: 20px;
    height: 20px;
  }

  svg path {
    fill: var(--content-secondary);
  }
}

//? Options styles
.optionWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.relativeImageContainer,
.image {
  position: relative;
  height: 40px;
  width: 40px;

  @media (max-width: 640px) {
    height: 32px;
    width: 32px;
  }
}

.relativeImageContainer .selected {
  background-color: var(--accent-primary);
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;

  &:after {
    content: '';
    display: block;
    background: var(--pure-black);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 11px;
  }

  @media (max-width: 640px) {
    height: 32px;
    width: 32px;
  }
}

.flexRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.secondValue {
  font: var(--body-text-md);
}

.rotate {
  transform: rotate(180deg);
}

.collapsedContent {
  display: flex;
  position: relative;
}

.tip {
  background-color: var(--accent-primary);
  border-radius: 100px;
  color: var(--pure-black);
  display: flex;
  align-items: center;
  justify-content: center;

  font: var(--body-text-sm);

  position: absolute;
  top: 0;
  right: -10px;

  width: 20px;
  height: 20px;
}
