.mainInfoContainer {
  display: flex;
  align-items: center;
  min-width: 260px;
  gap: 16px;

  @media (max-width: 640px) {
    gap: 8px;
  }
}

.mainInfoContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.collectionImage {
  height: 64px;
  width: 64px;

  @media (max-width: 640px) {
    height: 56px;
    width: 56px;
  }
}

.collectionName {
  display: flex;
  align-items: center;
  gap: 8px;
  font: var(--card-header-lg);

  @media (max-width: 640px) {
    font: var(--card-header-md);
  }
}

.mainInfoStats {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 16px;
  width: 100%;
}

.additionalInfoStats {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  white-space: nowrap;
  width: 100%;

  & > div {
    align-items: flex-end;
    max-width: 260px;
    width: 100%;
  }

  @media (max-width: 960px) {
    justify-content: space-between;
    gap: 0;

    & > div {
      align-items: center;
    }
    & > div:first-child {
      align-items: flex-start;
    }
    & > div:last-child {
      align-items: flex-end;
    }
  }

  &.hidden {
    @media (max-width: 640px) {
      display: none;
    }
  }
}

.aprValue {
  color: var(--additional-green-primary-deep);
}
