.tableRoot table {
  thead > tr > th {
    background: var(--bg-primary-deep);
  }

  tr > td,
  tr > th {
    width: 150px;

    &:last-child {
      width: 180px;
    }
  }
}

.tableWrapper {
  height: 346px;

  @media (max-width: 640px) {
    height: 170px;
  }
}

.statusCellTitle {
  font: var(--body-text-sm);
}

.filterTableSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  width: 100%;

  @media (max-width: 640px) {
    padding: 16px;
    flex-direction: column-reverse;
    gap: 16px;
  }
}

.radioButton {
  overflow: auto;
}
