.rootTable :global {
  .ant-table-content {
    max-height: 340px !important;
    overflow: auto !important;
  }
}

.statusCellTitle {
  font: var(--body-text-sm);
  text-transform: capitalize;
}

.filterTableSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  width: 100%;
}
