.container {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  gap: 24px;

  @media (max-width: 960px) {
    flex-direction: column;
    align-items: center;
  }
}

// * ReferralCodeSection * //
.referralCodeSection {
  border: var(--border-less-primary);
  border-radius: 6px;
  border-style: dashed;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 364px;
  max-width: 364px;

  @media (max-width: 640px) {
    border-right: 0;
    border-left: 0;
    max-width: unset;
    width: 100%;
  }
}

.referralCodeContent {
  display: flex;
  flex-direction: column;
  padding: 12px 12px 0 12px;
  gap: 8px;

  @media (max-width: 640px) {
    padding: 16px 16px 0 16px;
  }
}

.referralInput {
  max-width: 216px;
}

.customReferralLink {
  font: var(--body-text-sm);
  max-width: 216px;

  a {
    cursor: pointer;
    color: var(--content-primary);
    text-decoration: underline;
  }

  @media (max-width: 640px) {
    font: var(--body-text-xs);
  }
}

.referralCodeBenefit {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 8px;

  svg {
    min-height: 24px;
    min-width: 24px;

    circle {
      fill: var(--additional-orange-primary);
    }
    path {
      fill: var(--content-primary);
    }
  }

  @media (max-width: 640px) {
    padding: 16px;

    span {
      font: var(--body-text-xs);
    }
  }
}

// * ReferralCodeSection * //

// * RewardsContent * //
.rewardsContent {
  border-top: var(--border-less-primary);
  border-style: dashed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 12px 16px;
  width: 100%;

  @media (max-width: 640px) {
    padding: 16px;
  }
}

.rewardStat {
  display: flex;
  flex-direction: column;

  span:first-child {
    font: var(--title-sm);
    text-transform: uppercase;
    white-space: nowrap;

    @media (max-width: 640px) {
      font: var(--title-xs);
    }
  }

  span:last-child {
    display: flex;
    align-items: center;
    gap: 2px;
    font: var(--important-text-md);

    @media (max-width: 640px) {
      font: var(--important-text-sm);
    }
  }

  &.rightAlign {
    align-items: flex-end;
  }
}

.claimRewardsButton {
  display: flex;
  align-items: center;
  gap: 4px;
  min-width: 128px;

  &:hover {
    svg rect {
      fill: var(--accent-secondary);
    }
  }

  &.loading,
  &:disabled {
    svg {
      rect {
        fill: var(--bg-tertiary);
      }

      path {
        fill: var(--content-secondary);
      }
    }
  }

  svg {
    min-height: 16px;
    min-width: 16px;

    rect {
      fill: var(--accent-primary);
    }
  }
}

.referralInviteInfoSkeleton {
  min-height: 32px;
}

// * RewardsContent * //

// * InviteSection * //
.inviteSection {
  border: var(--border-less-primary);
  border-radius: 6px;
  border-style: dashed;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 12px 12px 40px;
  min-width: 364px;
  max-width: 364px;

  &.notConnected {
    padding: 12px;
    gap: 24px;
  }

  @media (max-width: 960px) {
    padding: 16px;
    gap: 16px;
  }

  @media (max-width: 640px) {
    border-right: 0;
    border-left: 0;
    max-width: unset;
    width: 100%;
  }
}

.referralCodeEmptyList {
  min-height: 42px;
  margin: 0;
  width: 100%;
}

.inviteBenefits {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inviteBenefit {
  display: flex;
  align-items: center;
  gap: 8px;

  span {
    font: var(--body-text-md);

    @media (max-width: 640px) {
      font: var(--body-text-sm);
    }
  }
}

.inviteInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;

  span:first-child {
    color: var(--content-secondary);
    font: var(--title-sm);
    text-transform: uppercase;

    @media (max-width: 640px) {
      font: var(--title-xs);
    }
  }

  span:last-child {
    font: var(--important-text-md);
    line-height: 24px;

    @media (max-width: 640px) {
      line-height: 24px;
      font: var(--important-text-sm);
    }
  }
}
// * InviteSection * //
