.container {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  gap: 24px;

  @media (max-width: 960px) {
    flex-direction: column;
    align-items: center;
  }
}

// * ReferralCodeSection * //
.referralCodeSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 0;
  max-width: 232px;

  @media (max-width: 960px) {
    flex-direction: column;
    align-items: center;
  }
}

.referralInput {
  @media (max-width: 960px) {
    align-items: center;
    width: 100%;
  }
}

.referralCodeEmptyList {
  margin: 0;
}

.referralInviteInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.referralInviteInfoSkeleton {
  min-height: 40px;
}

.invitedStat,
.referredStat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.invitedLabel,
.referredLabel {
  font: var(--title-sm);
  text-transform: uppercase;

  @media (max-width: 640px) {
    font: var(--title-xs);
  }
}

.referredValue {
  font: var(--important-text-md);
  line-height: 24px;

  @media (max-width: 640px) {
    font: var(--important-text-sm);
    line-height: 24px;
  }
}

.customReferralLink {
  font: var(--body-text-sm);

  a {
    cursor: pointer;
    color: var(--content-primary);
    text-decoration: underline;
  }

  @media (max-width: 960px) {
    margin: 8px 0 16px;
    text-align: center;
  }

  @media (max-width: 640px) {
    font: var(--body-text-xs);
  }
}
// * ReferralCodeSection * //

// * ReferralInfoSection * //
.referralInfoSection {
  border: var(--border-less-primary);
  border-radius: 6px;
  border-style: dashed;

  display: flex;
  flex-direction: column;

  max-width: 340px;

  @media (max-width: 960px) {
    border-right: 0;
    border-left: 0;
    max-width: unset;
    width: 100%;
  }
}

.referralInfoContent {
  border-bottom: var(--border-less-primary);
  border-style: dashed;

  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
}

.referralInfoRow {
  display: flex;
  align-items: center;
  gap: 8px;

  svg {
    min-height: 24px;
    min-width: 24px;

    circle {
      fill: var(--additional-orange-primary);
    }
    path {
      fill: var(--content-primary);
    }
  }

  span {
    font: var(--body-text-md);

    @media (max-width: 640px) {
      font: var(--body-text-sm);
    }
  }
}

.rewardsInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 12px;
  gap: 12px;
}

.rewardsStatInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rewardsStatLabel {
  font: var(--title-sm);
  text-transform: uppercase;

  @media (max-width: 640px) {
    font: var(--title-xs);
  }
}

.rewardsStatValue {
  display: flex;
  align-items: center;
  gap: 2px;

  font: var(--important-text-md);

  @media (max-width: 640px) {
    font: var(--important-text-sm);
  }
}

.claimRewardsButton {
  min-width: 128px;
}
// * ReferralInfoSection * //
