.box-dimensions(@min, @max) {
  min-height: @min;
  min-width: @min;
  max-height: @max;
  max-width: @max;
}

// root styles for all buttons
.root {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: var(--content-primary);
  font: var(--btn-text-md);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  white-space: nowrap;

  &:disabled {
    pointer-events: none;
  }
}

// standard buttons styles
.standard {
  padding: 8px 16px;
  border: 1px solid transparent;

  &.primary {
    background-color: var(--accent-primary);
    color: var(--pure-black);

    &:hover {
      background-color: var(--accent-secondary);
    }
  }

  &.secondary {
    background-color: var(--additional-green-secondary);
    border-color: var(--accent-primary);

    &:hover {
      border: 1px solid var(--accent-secondary);
    }
  }

  &.large {
    height: 40px;

    .loader {
      width: 24px;
      height: 24px;
    }

    @media (max-width: 640px) {
      height: 32px;
    }
  }
  &.medium {
    height: 32px;
  }
  &.small {
    padding: 2px 12px;
    height: 24px;
  }

  &.loading,
  &.loading:hover,
  &:disabled {
    background-color: var(--bg-secondary);
    border-color: 1px solid var(--bg-border);
    color: var(--content-secondary);
    pointer-events: none;
  }
}
.loader {
  width: 16px;
  height: 16px;
  display: block;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Circle button styles
.circle {
  border-radius: 100px;

  path {
    fill: var(--content-primary);
  }

  &:disabled {
    border: 1px solid var(--bg-border);
    background-color: var(--bg-primary);
  }
}

.circle.primary,
.circle.secondary {
  padding: 0;
  &.large {
    .box-dimensions(40px, 40px);

    @media (max-width: 640px) {
      .box-dimensions(32px, 32px);
    }

    svg {
      height: 24px;
      width: 24px;

      @media (max-width: 640px) {
        height: 16px;
        width: 16px;
      }
    }
  }
  &.medium {
    .box-dimensions(32px, 32px);

    svg {
      height: 16px;
      width: 16px;
    }
  }
  &.small {
    .box-dimensions(24px, 24px);
  }
}

.circle.primary {
  background-color: var(--accent-primary);

  &:hover {
    background-color: var(--accent-secondary);
  }

  svg,
  svg path {
    fill: var(--pure-black);
  }
}

.circle.secondary {
  border: 1px solid var(--bg-border);
  background-color: var(--bg-primary);

  &:hover {
    border-color: var(--content-primary);
  }
}

.circle.text {
  border: 1px solid var(--bg-border);
  background-color: var(--bg-primary);
  padding: 7px 14px;

  &:hover {
    border-color: var(--content-primary);
  }

  @media (max-width: 640px) {
    font: var(--body-text-sm);
    padding: 6px 10px;
  }
}

.connectedButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
.connectedWalletInfo {
  display: flex;
  flex-direction: column;
}
.connectedWalletAddress {
  font: var(--btn-text-md);

  @media (max-width: 640px) {
    font: var(--btn-text-sm);
  }
}
.solanaBalance {
  font: var(--important-text-sm);
}
.connectedWalletChevron {
  path {
    fill: var(--content-primary);
  }

  &.active {
    transform: rotate(180deg);
  }

  @media (max-width: 640px) {
    display: none;
  }
}

.disconnectedButton {
  svg path {
    fill: var(--content-primary);
  }

  .walletIcon path {
    fill: var(--pure-black);
  }
}

.onboardBtn {
  display: flex;
  align-items: center;
  gap: 4px;

  @media (max-width: 960px) {
    flex-direction: row-reverse;
    font: var(--btn-text-sm) !important;
    height: 32px;

    .instructionsLabel {
      display: none;
    }
  }

  @media (max-width: 640px) {
    font: var(--btn-text-sm) !important;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  @media (min-width: 961px) {
    .pageTitle {
      display: none;
    }
  }

  svg {
    transform: rotate(-15deg);

    path:nth-child(1) {
      fill: #fa8c16;
    }
    path:nth-child(2) {
      fill: #f5f5f5;
    }
    path:nth-child(3) {
      fill: #f5f5f5;
    }
    path:nth-child(4) {
      fill: #fa8c16;
    }
    path:nth-child(5) {
      fill: #000000;
    }
  }
}
