// root styles for all buttons
.root {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: var(--content-primary);
  font: var(--btn-text-md);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &:disabled {
    pointer-events: none;
  }
}

// standard buttons styles

.standard.primary {
  color: #000000;
  background-color: var(--accent-primary);

  &:hover {
    background-color: var(--accent-secondary);
  }
}

.standard.secondary {
  background-color: var(--bg-primary);
  border: 1px solid var(--accent-primary);

  &:hover {
    border: 1px solid var(--accent-secondary);
  }
}

.standard {
  padding: 8px 16px;

  &.large {
    height: 40px;
  }
  &.medium {
    height: 32px;
  }
  &.small {
    padding: 2px 7px;
    height: 24px;
  }

  &:disabled {
    background-color: var(--bg-secondary);
    border: 1px solid var(--bg-border);
    color: var(--content-secondary);
  }
}

// Circle button styles
.circle {
  border-radius: 100px;

  &:disabled {
    border: 1px solid var(--bg-border);
    background-color: var(--bg-primary);
  }
}

.circle.primary,
.circle.secondary {
  padding: 8px;

  &.large {
    height: 40px;
    width: 40px;
  }
  &.medium {
    height: 32px;
    width: 32px;
  }
  &.small {
    height: 24px;
    width: 24px;
  }
}

.circle.primary {
  background-color: var(--accent-primary);

  &:hover {
    background-color: var(--accent-secondary);
  }

  svg path {
    fill: var(--black-color);
  }
}

.circle.secondary {
  border: 1px solid var(--bg-border);
  background-color: var(--bg-primary);

  &:hover {
    border-color: var(--content-primary);
  }

  svg path {
    fill: var(--content-primary);
  }
}

.circle.text {
  border: 1px solid var(--bg-border);
  background-color: var(--bg-primary);
  padding: 7px 14px;

  &:hover {
    border-color: var(--content-primary);
  }
}

.walletConnectButton {
  width: 176px;
}

.primaryIcon path {
  fill: var(--content-primary);
}
