.content {
  border: var(--border-primary);
  border-radius: 12px;

  padding: 24px;

  max-width: 392px;
  width: 100%;

  @media (max-width: 640px) {
    border: 0;
    padding: 16px;
    max-width: unset;
  }
}

.collateralInput {
  margin-bottom: 8px;
}

.borrowInput {
  margin-bottom: 16px;
}

// * Summary * //
.summary {
  border-color: var(--bg-border);
  border-style: dotted;
  border-width: 1px 0 1px;

  display: flex;
  flex-direction: column;
  padding: 12px 24px 12px;
  margin: 0 -24px 0;
  gap: 8px;

  @media (max-width: 640px) {
    padding: 8px 16px 8px;
    margin: 0 -16px 0;
    gap: 4px;
  }
}

.fixedStatValue {
  max-width: 74px;
  white-space: nowrap;
  overflow: auto;

  @media (max-width: 960px) {
    max-width: 144px;
  }
}
// * Summary * //

.borrowButton {
  margin-top: 16px;
  width: 100%;
}

// * LtvSlider * //
.ltvSliderContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ltvSlider :global {
  .ant-slider-rail {
    background: linear-gradient(
      to right,
      var(--accent-primary),
      var(--additional-gold-primary),
      var(--additional-orange-primary),
      var(--additional-red-primary)
    ) !important;
  }

  .ant-slider-track {
    border: 0 !important;
    background: transparent !important;
  }
}

.ltvSliderLabel {
  color: var(--content-secondary);
  font: var(--title-sm);
  text-transform: uppercase;

  span {
    font: var(--body-text-md);
  }
}

.ltvSliderColor (@color: var(--accent-primary)) {
  :global {
    .ant-slider-handle {
      border-color: @color !important;
    }
  }
}

.maxLtvSliderGreen {
  .ltvSliderColor(var(--accent-primary));
}
.maxLtvSliderYellow {
  .ltvSliderColor(var(--additional-gold-primary));
}
.maxLtvSliderOrange {
  .ltvSliderColor(var(--additional-orange-primary));
}
.maxLtvSliderRed {
  .ltvSliderColor(var(--additional-red-primary));
}
// * LTV Slider * //

// * Separator * //
.separator {
  background: var(--bg-border);
  position: relative;
  margin: 16px -24px 24px;
  height: 1px;
  width: calc(100% + 48px);

  @media (max-width: 640px) {
    margin: 16px -16px 24px;
    width: calc(100% + 32px);
  }

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--bg-border);
  }
}
// * Separator * //
