:root {
  //? Commons
  --border-less-primary: 0.5px solid var(--bg-border);
  --border-primary: 1px solid var(--bg-border);

  //? Colors - Light Theme (Default)
  --pure-black: #000000;
  --pure-purple: #5865f2;
  --pure-white: #f5f5f5;

  --bg-primary: #fefeff;
  --bg-primary-deep: #fbfbfb;
  --bg-action: #f7f7f7;
  --bg-secondary: #efefef;
  --bg-border: #cccccc;
  --bg-border-active: #888888;

  --content-primary: #1b1b1b;
  --content-secondary: #8c8c8c;

  --accent-primary: #98ec2d;
  --accent-primary-sub: #e0f9c0;
  --accent-secondary: #8fda23;

  --additional-red-primary-deep: #cf1322;
  --additional-red-primary: #ff2b44;
  --additional-red-secondary: #fff1f0;

  --additional-lava-primary-deep: #d4380d;
  --additional-lava-primary: #fd7a4e;
  --additional-lava-secondary: #fff2e8;

  --additional-orange-primary-deep: #d46b08;
  --additional-orange-primary: #ff9d34;
  --additional-orange-secondary: #fff7e6;

  --additional-gold-primary-deep: #d48806;
  --additional-gold-primary: #faad14;
  --additional-gold-secondary: #fffbe6;

  --additional-yellow-primary-deep: #d4b106;
  --additional-yellow-primary: #fadb14;
  --additional-yellow-secondary: #feffe6;

  --additional-lime-primary-deep: #7cb305;
  --additional-lime-primary: #a0d911;
  --additional-lime-secondary: #fcffe6;

  --additional-green-primary-deep: #389e0d;
  --additional-green-primary: #52c41a;
  --additional-green-secondary: #f6ffed;

  --additional-blue-primary-deep: #096dd9;
  --additional-blue-primary: #69c0ff;
  --additional-blue-secondary: #e6f7ff;

  --additional-silver-primary: #9aaebd;
  --additional-bronze-primary: #d47506;

  //? Fonts
  --font-family-syne: 'Syne', sans-serif;
  --font-family-chakra: 'Chakra Petch', sans-serif;

  --menu-tab-lg: 700 16px var(--font-family-syne);
  --menu-tab-md: 700 12px var(--font-family-syne);
  --menu-tab-sm: 400 12px var(--font-family-syne);

  --title-3xl: 700 22px var(--font-family-syne);
  --title-2xl: 700 20px var(--font-family-syne);
  --title-xl: 700 18px var(--font-family-syne);
  --title-lg: 700 16px var(--font-family-syne);
  --title-md: 700 14px var(--font-family-syne);
  --title-sm: 700 12px var(--font-family-syne);
  --title-xs: 700 10px var(--font-family-syne);

  --important-text-3xl: 700 22px var(--font-family-chakra);
  --important-text-2xl: 700 20px var(--font-family-chakra);
  --important-text-xl: 700 18px var(--font-family-chakra);
  --important-text-lg: 700 16px var(--font-family-chakra);
  --important-text-md: 700 14px var(--font-family-chakra);
  --important-text-sm: 700 12px var(--font-family-chakra);
  --important-text-xs: 700 10px var(--font-family-chakra);

  --card-header-lg: 700 16px var(--font-family-syne);
  --card-header-md: 700 14px var(--font-family-syne);
  --card-header-sm: 700 12px var(--font-family-syne);
  --card-header-xs: 700 10px var(--font-family-syne);

  --btn-text-md: 600 14px var(--font-family-chakra);
  --btn-text-sm: 600 12px var(--font-family-chakra);

  --table-header-lg: 700 16px var(--font-family-syne);
  --table-header-md: 700 14px var(--font-family-syne);
  --table-header-sm: 700 12px var(--font-family-syne);
  --table-header-xs: 700 10px var(--font-family-syne);

  --body-text-xl: 400 18px var(--font-family-chakra);
  --body-text-lg: 400 16px var(--font-family-chakra);
  --body-text-md: 400 14px var(--font-family-chakra);
  --body-text-sm: 400 12px var(--font-family-chakra);
  --body-text-xs: 400 10px var(--font-family-chakra);
}

:root[data-theme='dark'] {
  //? Colors - Dark Theme
  --pure-black: #000000;
  --pure-purple: #5865f2;
  --pure-white: #f5f5f5;

  --bg-primary: #141415;
  --bg-primary-deep: #161617;
  --bg-action: #202021;
  --bg-secondary: #0f0f0f;
  --bg-border: #38383c;
  --bg-border-active: #8c8c8c;

  --content-primary: #d3d3d3;
  --content-secondary: #656565;

  --accent-primary: #61de2a;
  --accent-primary-sub: #2c511c;
  --accent-secondary: #61bc39;

  --additional-red-primary-deep: #e84749;
  --additional-red-primary: #ff3347;
  --additional-red-secondary: #2a1215;

  --additional-lava-primary-deep: #e87040;
  --additional-lava-primary: #d84a1b;
  --additional-lava-secondary: #2b1611;

  --additional-orange-primary-deep: #e89a3c;
  --additional-orange-primary: #d87a16;
  --additional-orange-secondary: #2b1d11;

  --additional-gold-primary-deep: #e8b339;
  --additional-gold-primary: #d89614;
  --additional-gold-secondary: #2b2111;

  --additional-yellow-primary-deep: #e8d639;
  --additional-yellow-primary: #d8bd14;
  --additional-yellow-secondary: #2b2611;

  --additional-lime-primary-deep: #a9d134;
  --additional-lime-primary: #8bbb11;
  --additional-lime-secondary: #1f2611;

  --additional-green-primary-deep: #6abe39;
  --additional-green-primary: #49aa19;
  --additional-green-secondary: #162312;

  --additional-blue-primary-deep: #3c9ae8;
  --additional-blue-primary: #2e9aff;
  --additional-blue-secondary: #111d2c;

  --additional-silver-primary: #798a9a;
  --additional-bronze-primary: #c97b21;
}
