:root[data-theme='light'] {
  --bg-primary-color: #ffffff;
  --bg-secondary-color: ##f9f9f9;
  --bg-border-color: #dddddd;

  --content-primary: #000000;
  --content-secondary: #9b9b9b;

  --accent-primary: #98ec2d;
  --accent-secondary: #8fda23;

  --additional-green-primary-deep: #389e0d;
  --additional-green-primary: #52c41a;
  --additional-green-secondary: #f6ffed;

  //? Fonts
  --font-family-syne: 'Syne', sans-serif;
  --font-family-chakra: 'Chakra Petch', sans-serif;

  --menu-tab-md: 700 12px var(--font-family-syne);
  --menu-tab-sm: 400 12px var(--font-family-syne);
}

:root[data-theme='dark'] {
  --bg-primary-color: #141415;
  --bg-secondary-color: #111112;
  --bg-border-color: #1a1a1c;

  --content-primary: #ebebeb;
  --content-secondary: #282828;

  --accent-primary: #98ec2d;
  --accent-secondary: #8fda23;

  --additional-green-primary-deep: #6abe39;
  --additional-green-primary: #49aa19;
  --additional-green-secondary: #162312;

  //? Fonts
  --font-family-syne: 'Syne', sans-serif;
  --font-family-chakra: 'Chakra Petch', sans-serif;

  --menu-tab-md: 700 12px var(--font-family-syne);
  --menu-tab-sm: 400 12px var(--font-family-syne);
}
