.loansContainer {
  margin-top: 12px;
}

.loansHeading {
  display: flex;
  align-items: center;
  padding: 12px 0;
  font: var(--title-sm);
  text-transform: uppercase;
}

.loansContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 24px;
  width: 100%;
}

.loansStatsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.loansStats {
  display: flex;
  align-items: center;
  gap: 16px;
}

.loansChartStats {
  display: flex;
  flex-direction: column;

  & > div:nth-child(odd) {
    background: var(--bg-primary-deep);
  }
}

.manageLoansButton {
  margin-bottom: 24px;
  width: 100%;
}
