.tableRoot {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.borrowTable {
  min-width: 796px;

  tr > td,
  tr > th {
    &:first-child {
      width: 220px;
    }
    &:last-child {
      width: 144px;
    }
  }

  @media (max-width: 640px) {
    min-width: 614px;

    tr > td,
    tr > th {
      width: 96px;

      &:nth-child(3) {
        width: 110px;
      }

      &:first-child {
        width: 168px;
      }
    }
  }
}
