.title {
  color: var(--content-primary);
  text-align: center;
  font: var(--title-sm);
  text-transform: uppercase;
  margin-bottom: 12px;
}

.content {
  color: var(--content-primary);
  text-align: center;
  font: var(--body-text-lg);
  padding: 0 24px 24px;
  border-bottom: var(--border-less-primary);
  margin: 0 -24px 24px;

  @media (max-width: 640px) {
    margin: 0 -16px 16px;
    padding: 0 16px 16px;
  }
}

.actionBtn {
  width: 100%;
}
