.table :global {
  .ant-table-tbody > tr > td {
    width: 178px;
  }
  .ant-table-tbody > tr > td:last-child {
    width: 156px;
  }
}

.actionsButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
}

.removeButton {
  border: 1px solid var(--additional-red-primary) !important;

  &:hover {
    border: 1px solid var(--additional-red-primary-deep) !important;
  }
}

.aprValue {
  font: var(--important-text-md);
}

.searchSelect {
  max-width: 750px;
}
