.actionsButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
}

.removeButton {
  border: 1px solid var(--additional-red-primary) !important;

  &:hover {
    border: 1px solid var(--additional-red-primary-deep) !important;
  }
}
