.content {
  color: var(--content-primary);

  a {
    border-bottom: 1px solid;
  }

  h1 {
    font: var(--important-text-xll);
    margin-bottom: 14px;

    @media screen and (max-width: 960px) {
      font-size: 20px;
      font: var(--important-text-xl);
    }
  }
}
