.orderBookWrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: 960px) {
    display: none;
  }
}

.orderBook {
  display: flex;
  flex-direction: column;
  margin: 16px 24px 0;
  height: calc(100% - 72px - 16px); //? 72px => accrued interest container, 16px => labels container
  min-width: 296px;
}

.labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--content-secondary);
  font: var(--table-header-md);
  text-transform: uppercase;
}

.mobileLabels {
  padding: 0 24px;
}

.orderBookList {
  margin-top: 8px;
  overflow: hidden scroll;
  position: relative;
}

// Mobile orderbook styles
.orderBookMobile {
  display: none;

  background: var(--bg-primary);
  border-top: var(--border-less-primary);

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;

  width: 100%;

  &.open {
    border-top: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
  }

  @media (max-width: 960px) {
    display: flex;
    flex-direction: column;
  }
}

.chevronButton {
  transform: rotate(180deg);

  &.active {
    transform: none;
  }
}

.collectionMobileInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;

  @media (max-width: 640px) {
    gap: 2px;
  }
}
.collapsedContentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;

  @media (max-width: 640px) {
    padding: 16px;
  }
}

.mobileOrderBookList {
  padding: 0 24px;
  height: 100%;

  @media (max-width: 640px) {
    padding: 0 16px;
  }
}

.collapsedMobileContent {
  display: flex;
  align-items: center;
  gap: 8px;
}
.collapsedMobileImage {
  height: 40px;
  width: 40px;

  @media (max-width: 640px) {
    height: 32px;
    width: 32px;
  }
}
.collectionMobileTitle {
  font: var(--card-header-md);

  @media (max-width: 640px) {
    font: var(--card-header-sm);
  }
}
.collectionMobileSubtitle {
  font: var(--body-text-md);

  @media (max-width: 640px) {
    font: var(--body-text-xs);
  }
}

.accruedInterestContainer {
  border-top: var(--border-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  width: 100%;
}
.accruedInterestInfo {
  display: flex;
  align-items: center;
  gap: 2px;
}
.accruedInterestLabel {
  color: var(--content-secondary);
  font: var(--table-header-md);
  text-transform: uppercase;
}
.accruedInterestValue {
  font: var(--important-text-xl);
}
