.orderBook {
  display: flex;
  flex-direction: column;
  padding: 24px 0 48px;
  height: 100%;
}

.labelsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 64px 0 24px;
  width: 100%;
}

.labelWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  width: calc(100% / 3);

  &:nth-child(2) {
    justify-content: center;
  }

  &:last-child {
    justify-content: flex-end;
  }
}

.label {
  color: var(--content-secondary);
  font: var(--table-header-md);
  text-transform: uppercase;
}

.offersList {
  margin-top: 8px;
  overflow-y: auto;
}
