.orderBookWrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (max-width: 960px) {
    display: none;
  }
}

.orderBook {
  display: flex;
  flex-direction: column;
  margin: 16px 24px 0;
  padding-bottom: 88px;
  min-width: 296px;
  height: 100%;
}

.labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--content-secondary);
  font: var(--table-header-md);
  text-transform: uppercase;
}

.mobileLabels {
  padding: 0 24px;
}

.orderBookList {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  overflow: hidden scroll;
  position: relative;
  height: 100%;
}

// Mobile orderbook styles
.orderBookMobile {
  display: none;

  @media (max-width: 960px) {
    background: var(--bg-primary);

    display: flex;
    flex-direction: column;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
  }

  &.open {
    position: fixed;
    top: 0;
  }
}

.chevronButton {
  transform: rotate(180deg);

  &.active {
    transform: none;
  }
}

.collectionMobileInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.collapsedContentWrapper {
  border-top: var(--border-less-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;

  @media (max-width: 640px) {
    padding: 16px;
  }
}

.mobileOrderBookList {
  padding: 0 24px;

  @media (max-width: 640px) {
    padding: 0 16px;
  }
}

.collapsedMobileContent {
  display: flex;
  align-items: center;
  gap: 8px;
}
.collapsedMobileImage {
  height: 40px;
  width: 40px;

  @media (max-width: 640px) {
    height: 32px;
    width: 32px;
  }
}
.collectionMobileTitle {
  font: var(--card-header-md);

  @media (max-width: 640px) {
    font: var(--card-header-sm);
  }
}
.collectionMobileSubtitle {
  @media (max-width: 640px) {
    font: var(--body-text-xs);
  }
}

.accruedInterestContainer {
  background: var(--bg-primary);
  border-top: var(--border-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  width: 100%;

  @media (min-width: 961px) {
    position: absolute;
    bottom: 0;
  }
}
.accruedInterestInfo {
  display: flex;
  align-items: center;
  gap: 2px;
}
.accruedInterestLabel {
  color: var(--content-secondary);
  font: var(--table-header-md);
  text-transform: uppercase;
}
.accruedInterestValue {
  font: var(--important-text-xl);
}
