.diagramWrapper {
  overflow-x: scroll;
  width: 100%;

  @media (max-width: 640px) {
    width: calc(100% + 16px);
  }
}

.diagram {
  display: flex;
  align-items: center;
  margin: 16px 0;
  height: 60px;
  position: relative;
  width: 100%;

  @media (max-width: 1240px) {
    width: 960px;
  }
}

.diagramLine {
  background: var(--accent-primary-sub);
  height: 2px;
  width: 100%;
}

.mark {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  position: absolute;
  bottom: 2px;

  @media (max-width: 640px) {
    gap: 2px;
    bottom: 8px;
  }

  .square,
  .imageSquare {
    background: var(--accent-primary-sub);
    border: 2px solid var(--accent-primary);
    height: 24px;
    width: 24px;

    @media (max-width: 640px) {
      border-width: 1px;
      height: 20px;
      width: 20px;
    }
  }

  .imageSquare {
    border: 0;
  }

  .dot {
    background: var(--accent-primary);
    border-radius: 100px;
    height: 8px;
    width: 8px;
  }

  .value {
    font: var(--body-text-sm);
    white-space: nowrap;

    @media (max-width: 640px) {
      font: var(--body-text-xs);
    }
  }
}

.markCountBadge {
  color: var(--additional-green-primary-deep);
  background: var(--additional-green-secondary);
  border: 1px solid var(--additional-green-primary-deep);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -8px;
  right: 16px;
  height: 16px;
  width: 24px;
  font: var(--body-text-xs);
}

.tooltip {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 236px;
  min-width: 232px;
  overflow: auto;
}

.tooltipHeaderContent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  span {
    text-align: right;
    width: 100px;
  }
}
.tooltipHeaderLabel {
  color: var(--content-secondary);
  font: var(--table-header-sm);
  text-transform: uppercase;
}

.tooltipBodyContent {
  display: flex;
  flex-direction: column;
  font: var(--body-text-sm);
  gap: 2px;
}
.tooltipRowContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nftImage {
  width: 24px;
  height: 24px;
}
