.listItem {
  position: relative;
  padding: 4px 64px 4px 24px;
  background: var(--bg-action);
  display: flex;
  align-items: center;
  min-height: 32px;
  width: 100%;

  &:not(:last-child) {
    border-bottom: var(--border-primary);
  }
}

.highlightYour,
.highlightEditing {
  position: relative;

  font: var(--table-header-sm);
  color: var(--pure-black);
  text-transform: uppercase;

  &::after,
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
  }

  &::before {
    padding: 1px 8px;
  }

  &::after {
    height: 4px;
    width: 100%;
    z-index: 1;
  }
}

.highlightYour {
  &::before {
    content: 'Your';
    background: var(--accent-primary);
  }
  &::after {
    background: var(--accent-primary);
  }
}

.highlightEditing {
  &::before {
    content: 'Editing';
    background: var(--additional-blue-primary);
  }
  &::after {
    background: var(--additional-blue-primary);
  }
}

.valueWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  p {
    width: calc(100% / 3);

    &:nth-child(2) {
      text-align: center;
    }

    &:last-child {
      text-align: right;
    }
  }
}

.value {
  color: var(--content-primary);
  font: var(--body-text-md);
  line-height: 24px;
  overflow: auto;
  white-space: nowrap;
}

.editButton {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);

  svg {
    height: 14px;
    width: 14px;
  }
}

.tooltipInnerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
