.listItem {
  position: relative;
  padding: 8px 48px 8px 8px;
  background: var(--bg-action);
  border-bottom: var(--border-primary);
  display: flex;
  align-items: center;
  min-height: 48px;
  width: 100%;
}

.highlightBest,
.highlightYourOffer {
  position: relative;

  font: var(--table-header-sm);
  color: var(--constant-block);
  text-align: center;
  text-transform: uppercase;

  &::after,
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
  }

  &::before {
    padding: 1px 8px;
  }

  &::after {
    height: 4px;
    width: 100%;
    z-index: 1;
  }
}

.highlightBest {
  &::before {
    content: 'Best';
    background: var(--additional-yellow-primary);
  }
  &::after {
    background: var(--additional-yellow-primary);
  }
}

.highlightYourOffer {
  &::before {
    content: 'Your offer';
    background: var(--accent-primary);
  }
  &::after {
    background: var(--accent-primary);
  }
}

.valueWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.value {
  color: var(--content-primary);
  display: flex;
  gap: 4px;
  font: var(--body-text-md);

  overflow: auto;
  white-space: nowrap;
  max-width: 200px;
}

.editButton {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
