.header {
  background: var(--bg-secondary);
  border-bottom: var(--border-less-primary);

  display: flex;
  align-items: center;
  padding: 12px 24px;
  z-index: 99;

  @media (max-width: 960px) {
    padding: 8px 16px;
  }
}

.widgetContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 12px;

  @media (max-width: 640px) {
    gap: 4px;
  }

  a {
    text-decoration: none;
  }
}

.rewardsButtonWrapper {
  @media (max-width: 960px) {
    display: none;
  }
}

.rewardsButton {
  display: flex;
  align-items: center;
  gap: 8px;

  svg,
  svg path {
    fill: var(--additional-gold-primary);
  }

  &.active {
    border: 1px solid var(--content-primary);
  }
}
.rewardsButtonText {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 95px;

  @media (max-width: 640px) {
    display: none;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoWrapper {
  height: 32px;
  display: flex;
  align-items: center;

  svg path {
    fill: var(--content-primary);
  }

  .logoMobile {
    display: none;
  }

  @media screen and (max-width: 960px) {
    .logo {
      display: none;
    }

    .logoMobile {
      display: flex;
    }
  }
}

.switchers {
  display: flex;
  align-items: center;
  gap: 12px;

  @media (max-width: 640px) {
    gap: 4px;
  }
}

.modeSwitcher {
  margin-left: 60px;

  @media screen and (max-width: 960px) {
    margin-left: 14px;
  }

  @media screen and (max-width: 640px) {
    margin-left: 8px;
  }
}

.priorityFeeButton {
  padding: unset !important;
  min-height: 32px;
  min-width: 32px;
}

.hiddenThemeSwitcher,
.hiddenPriorityFeesButton,
.hiddenBanxNotificationsButton {
  @media (max-width: 960px) {
    display: none;
  }
}
