.header {
  background: var(--bg-secondary);
  border-bottom: var(--border-less-primary);

  display: flex;
  align-items: center;
  padding: 16px 24px;

  @media (max-width: 960px) {
    padding: 8px 24px;
  }

  @media (max-width: 640px) {
    padding: 12px 16px;
  }
}

.widgetContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;

  @media (max-width: 640px) {
    gap: 8px;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 24px;

  a {
    text-decoration: none;
  }
}
.logoWrapper svg path {
  fill: var(--content-primary);
}

.rewardsButton {
  display: flex;
  align-items: center;
  gap: 8px;

  svg,
  svg path {
    fill: var(--additional-yellow-primary);
  }
}

.logo {
  height: 40px;
}

.logoBasic {
  display: none;
}

@media screen and (max-width: 960px) {
  .logo {
    display: none;
  }

  .logoBasic {
    display: flex;
  }
}
