.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.radioButtons {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;

  input {
    display: none;
  }
}

.radioTitle {
  color: var(--content-secondary);
  display: flex;
  align-items: center;
  gap: 4px;
  font: var(--table-header-md);
  text-transform: uppercase;
}

.radioButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-action);
  border: var(--border-primary);
  border-radius: 100px;
  cursor: pointer;
  font: var(--body-text-md);
  white-space: nowrap;

  label {
    padding: 7px 16px;
    text-align: center;

    @media (max-width: 640px) {
      padding: 4px 16px;
    }
  }

  &:hover {
    border: 1px solid var(--bg-border-active);
  }

  &.disabled {
    background: var(--bg-tertiary);
    pointer-events: none;

    label {
      color: var(--content-secondary);
    }
  }

  &.active {
    border-color: transparent;
    background: var(--accent-primary);
    pointer-events: none;

    label {
      color: var(--pure-black);
    }
  }
}
