.container {
  cursor: default;
  display: flex;
  overflow: hidden;

  height: 480px;
  width: 100%;

  @media (max-width: 640px) {
    height: 384px;
  }

  &.isEditMode {
    height: 502px;

    @media (max-width: 640px) {
      height: 406px;
    }
  }
}

.content {
  border: var(--border-less-primary);
  border-left: 0;
  border-bottom: 0;
  width: 100%;
}
