.content {
  border-bottom: var(--border-less-primary);
  cursor: default;
  display: flex;
  gap: 24px;
  overflow: hidden;
  width: 100%;
}

.tabsContentWrapper {
  border: var(--border-less-primary);
  border-left: 0;
  border-bottom: 0;
  width: 100%;
}

.tabContent {
  height: 348px;
  overflow: hidden;

  @media (max-width: 640px) {
    height: 276px;
  }
}

.list {
  display: flex;
  flex-direction: column;

  margin-right: 24px;
  max-width: 280px;
  min-width: 280px;
  width: 100%;
}
