.container {
  @media (max-width: 1140px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: unset;
    padding: 42px 24px;
    gap: 16px;
  }

  @media (max-width: 640px) {
    padding: 24px 16px;
  }
}
