.container {
  border-bottom: var(--border-less-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  gap: 24px;
  min-height: 64px;
  width: 100%;

  position: relative;

  @media (max-width: 640px) {
    min-height: 56px;
    padding: 8px 16px;
    gap: 16px;
  }
}

.titleWrapper {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (max-width: 960px) {
    gap: 8px;
  }
}

.title {
  font: var(--title-3xl);
  text-transform: uppercase;

  @media (max-width: 960px) {
    display: none;
  }
}

.content {
  display: flex;
  align-items: center;
  gap: 16px;
  overflow: auto hidden;
  margin-right: -24px;
  padding-right: 24px;

  @media (max-width: 640px) {
    margin-right: -16px;
    padding-right: 16px;
    gap: 8px;
  }
}

.mainContainer,
.additionalContainer {
  flex-direction: column-reverse;
  white-space: nowrap;
  gap: 6px;

  @media (max-width: 640px) {
    gap: 2px;
  }
}

.mainContainer {
  align-items: flex-end;
}
.mainValue {
  font: var(--important-text-md);
  line-height: 18px;

  @media (max-width: 640px) {
    font: var(--important-text-sm);
  }
}
.mainLabel {
  color: var(--content-primary);
  font: var(--title-sm);

  @media (max-width: 640px) {
    font: var(--title-xs);
  }
}

.additionalValue {
  display: flex;
  align-items: center;
  gap: 4px;
  line-height: 18px;
}
.additionalLabel {
  font: var(--title-sm);
  text-transform: uppercase;

  @media (max-width: 640px) {
    font: var(--title-xs);
  }
}

.separateLine {
  background: var(--bg-border);
  width: 0.5px;
  height: 32px;
}
