@import './base/reset.less';
@import './base/scrollBar.less';
@import './abstracts/fonts.less';
@import './abstracts/variables.less';

body {
  background-color: var(--bg-primary);
  color: var(--content-primary);
  font: var(--body-text-md);
  overflow: hidden;
}
