//? Mixins for components same styles
.btn {
  width: 168px;

  @media (max-width: 960px) {
    width: 128px;
  }

  @media (max-width: 640px) {
    max-height: 24px;
    width: 64px;
  }
}

.valueWithIcon {
  display: flex;
  align-items: center;
  column-gap: 4px;
  font: var(--important-text-lg);

  svg {
    path {
      fill: #1b1b1b;
    }
  }

  @media screen and (max-width: 640px) {
    font: var(--important-text-sm);

    svg {
      height: 12px;
      width: 12px;
    }
  }
}

.labelPrimaryColor {
  color: var(--content-primary);
}
//? Mixins for components same styles

//? Title component
.titleWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  column-gap: 6px;

  span {
    color: var(--content-primary);
    font: var(--title-lg);

    @media screen and (max-width: 640px) {
      font: var(--title-md);
    }
  }

  @media screen and (max-width: 640px) {
    margin-bottom: 8px;
  }

  .icon {
    width: 32px;
    height: 32px;
    background: var(--bg-tertiary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 640px) {
      width: 24px;
      height: 24px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}
//? Title component

//? ManageStakeSection component
.manageStakeSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.manageStakeSectionBtn {
  .btn();
}

.manageStakeInfoContainer {
  flex-direction: column-reverse;
  gap: 0;
}
.manageStakeInfoLabel {
  .labelPrimaryColor();
}
.manageStakeInfoValue {
  display: flex;
  gap: 4px;
  font: var(--important-text-lg);

  @media screen and (max-width: 640px) {
    font: var(--important-text-sm);
  }
}
//? ManageStakeSection component

//? WalletStakedStatsSection component
.walletStakedStatsLabel {
  width: 105px;
  .labelPrimaryColor();

  @media screen and (max-width: 640px) {
    width: 86px;
  }

  @media screen and (max-width: 440px) {
    width: 42px;
  }
}

.walletStakedStatsLabelWrapper {
  align-items: flex-start;
}

.walletStakedStatsValues {
  text-align: right;
  font: var(--important-text-lg);

  @media screen and (max-width: 640px) {
    font: var(--important-text-sm);
  }
}
//? WalletStakedStatsSection component

//? ClaimSection component
.claimSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.claimContainer {
  flex-direction: column-reverse;
  gap: 0;
}
.claimLabel {
  .labelPrimaryColor();
}
.claimValue {
  .valueWithIcon();
}

.claimSectionBtn {
  .btn();
}
//? ClaimSection component

//? TotalClaimedSection component
.totalClaimedLabel {
  .labelPrimaryColor();
}

.totalClaimedLabelWrapper {
  align-items: flex-start;
}
.totalClaimedValue {
  .valueWithIcon();
}
//? TotalClaimedSection component

//? InfoSection component
.infoSection {
  border: 1px dashed var(--content-secondary);
  font: var(--body-text-md);
  display: flex;
  flex-direction: column;

  p {
    padding: 16px;
    display: flex;
    column-gap: 8px;

    svg {
      fill: var(--content-secondary);
      height: 18px;
      width: 18px;
    }

    @media (max-width: 640px) {
      padding: 8px 16px;
    }
  }
}
//? InfoSection component
