.offerSummary {
  border: 1px dotted var(--bg-border);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  margin: 24px 0;

  @media (max-width: 640px) {
    gap: 4px;
    margin: 16px 0;
  }
}

.fields {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;

  @media (max-width: 640px) {
    gap: 16px;
  }
}

.messageContainer {
  height: 14px;
}

.numericField {
  width: 100%;
}
