.userInfoCell {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userRank {
  font: var(--important-text-sm);
  min-width: 30px;
  text-align: right;
}

.userAvatar {
  width: 40px;
  height: 40px;
}

.userWalletAddress {
  font: var(--card-header-md);
}

.loyaltyTitleCell {
  font: var(--important-text-md);
}

.radioButton {
  padding: 24px 24px 12px 24px;
}

.highlightUser {
  background: var(--additional-green-secondary) !important;
}

.emptyList {
  margin: 16px 24px 12px;
  text-align: left;
}
