.tableRoot :global {
  .ant-table table {
    width: unset !important;
  }

  .ant-table-tbody > tr > td:first-child {
    max-width: 200px;
    padding-left: 16px !important;
  }
}

.userInfoCell {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pointsTitleCell {
  font: var(--body-text-md);

  @media (max-width: 640px) {
    font: var(--body-text-sm);
  }
}

.indicator {
  display: flex;
  border-radius: 100px;
  height: 8px;
  width: 8px;
}

.userRank {
  font: var(--important-text-sm);
  min-width: 30px;
  text-align: right;

  @media (max-width: 640px) {
    font: var(--important-text-xs);
    min-width: 26px;
  }
}

.userAvatar {
  height: 40px;
  width: 40px;

  @media (max-width: 640px) {
    height: 32px;
    width: 32px;
  }
}

.userWalletAddress {
  font: var(--card-header-md);

  @media (max-width: 640px) {
    font: var(--card-header-sm);
  }
}

.loyaltyTitleCell {
  font: var(--important-text-md);

  @media (max-width: 640px) {
    font: var(--important-text-sm);
  }
}

.highlightUser {
  background: var(--additional-green-secondary) !important;
}

.emptyList {
  margin: 16px 24px 12px;
  text-align: left;
}

.filtersContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 24px 12px;

  @media (max-width: 640px) {
    padding: 16px 16px 12px;
  }
}
