.heading {
  display: flex;
  align-items: center;
  padding: 33px 0 21px;
  line-height: 22px;
  font: var(--title-sm);
  text-transform: uppercase;
}

.stats {
  display: flex;
  align-items: center;
  gap: 16px;
  min-height: 132px;
  margin: 12px 0 16px;
  width: 100%;

  & > div {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
  }
}

.button {
  width: 100%;
}
