.inputTokenSelectWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputTokenSelectHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// * ControlsButtons * //
.inputTokenSelectControlButtons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.inputTokenSelectControlButton {
  font: var(--btn-text-md);
  text-transform: uppercase;

  @media (max-width: 640px) {
    font: var(--btn-text-sm);
  }
}

.inputTokenSelectMaxValue {
  color: var(--content-secondary);
  font: var(--important-text-md);

  display: flex;
  align-items: center;
  gap: 4px;

  svg {
    height: 14px;
    width: 14px;

    path {
      fill: var(--content-secondary);
    }
  }
}
// * ControlsButtons * //

.inputTokenSelectLabel {
  color: var(--content-secondary);
  font: var(--title-sm);
  text-transform: uppercase;

  @media (max-width: 640px) {
    font: var(--title-xs);
  }
}

.inputTokenSelect {
  position: relative;
}

.numericStepInput input {
  padding: 8px 32px 8px 96px;
  text-align: right;

  &:disabled {
    background: var(--bg-tertiary);
  }

  &:not(:placeholder-shown) {
    color: var(--content-primary);
  }
}

// * SelectTokenButton * //
.selectTokenButton {
  background: var(--bg-primary);
  border: var(--border-primary);
  border-radius: 4px;
  color: var(--content-primary);
  cursor: pointer;
  font: var(--btn-text-sm);

  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 4px;

  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);

  height: 26px;
}

.selectTokenButtonIcon {
  height: 16px;
  width: 16px;
}

.selectTokenButtonChevronIcon {
  height: 16px;
  width: 16px;

  path {
    fill: var(--content-primary);
  }
}
// * SelectTokenButton * //
