.tableRoot {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.table table {
  tr > td,
  tr > th {
    min-width: 144px;
    max-width: 144px;

    &:first-child {
      min-width: 176px;
      max-width: unset;
    }

    &:last-child {
      min-width: 208px;
    }
  }
}

.searchSelect {
  max-width: 750px;
}

.headerTitleRow {
  display: flex;
  align-items: center;
  gap: 16px !important;
}

.checkbox {
  height: 18px;
  padding-left: 18px;
}

.terminated {
  background: var(--additional-lava-secondary) !important;
}

.statusInfo {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: flex-end;
  gap: 4px;
}
.statusInfoTitle {
  font: var(--body-text-md);
}
.statusInfoSubtitle {
  font: var(--body-text-sm);
}

.cellInfo {
  &,
  & > * {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
  }
}
.cellInfoTitle {
  font: var(--body-text-md);

  &.highlight {
    color: var(--additional-green-primary-deep);
    font: var(--important-text-md);
  }
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-top: 1px solid var(--bg-border);

  @media (max-width: 960px) {
    flex-direction: column;
    gap: 24px;
  }

  @media (max-width: 640px) {
    gap: 16px;
  }
}

.statsContainer {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;

  & > div {
    align-items: end;
    gap: 6px;
  }

  @media (max-width: 1240px) {
    width: 100%;
    align-items: space-between;

    & > div {
      align-items: center;
    }
  }

  @media (max-width: 640px) {
    gap: 8px 8px;
  }
}

.summaryControls {
  display: flex;
  align-items: center;
  gap: 16px;

  button {
    min-width: 170px;
  }

  @media (max-width: 960px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    button {
      min-width: unset;
    }
  }
}
.slider {
  padding-bottom: 18px;
}

.collaterals {
  display: flex;
  gap: 8px;
  align-items: center;
  min-width: 220px;

  @media (max-width: 1240px) {
    display: none;
  }
}

.collateralsTitle {
  font: var(--important-text-xll);
  color: var(--content-primary);

  @media (max-width: 640px) {
    font: var(--important-text-xl);
  }
}

.collateralsSubtitle {
  font: var(--table-header-md);
  color: var(--content-secondary);
  text-transform: uppercase;
  max-width: 100px;

  @media (max-width: 960px) {
    max-width: unset;
  }

  @media (max-width: 640px) {
    font: var(--table-header-sm);
    width: 86px;
  }
}

.tooltipContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.tooltipRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 230px;
}
.tooltipRowLabel {
  color: var(--content-secondary);
  font: var(--table-header-md);
  text-transform: uppercase;

  @media (max-width: 640px) {
    font: var(--table-header-sm);
  }
}
.tooltipIcon svg {
  fill: var(--content-secondary);
  width: 13px;
  height: 13px;
}
