.tableRoot {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.table {
  tr > td,
  tr > th {
    &:first-child,
    &:last-child {
      width: 210px;
    }
  }

  @media (max-width: 1180px) {
    min-width: 990px;
  }

  @media (max-width: 640px) {
    min-width: 762px;

    tr > td,
    tr > th {
      width: 96px;

      &:first-child {
        width: 168px;
      }
      &:last-child {
        width: 210px;
      }
    }
  }
}

.searchSelect {
  max-width: 456px;
}

.headerTitleRow {
  display: flex;
  align-items: center;
  gap: 16px !important;
}

.checkbox {
  height: 18px;
  padding-left: 18px;
}

.terminated {
  background: var(--additional-lava-secondary) !important;
}

.columnCell {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: flex-end;
  gap: 2px;

  @media (max-width: 640px) {
    gap: unset;
  }
}
.columnCellTitle {
  font: var(--body-text-md);

  @media (max-width: 640px) {
    font: var(--body-text-sm);
  }
}
.columnCellSubtitle {
  font: var(--body-text-sm);

  @media (max-width: 640px) {
    font: var(--body-text-xs);
  }
}

.summary {
  border-top: 1px solid var(--bg-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;

  @media (max-width: 960px) {
    flex-direction: column;
    padding: 16px;
    gap: 8px;
  }
}

.statsContainer {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  width: 100%;

  @media (max-width: 640px) {
    gap: 8px;
  }
}
.statsContainer > div {
  align-items: flex-end;
  gap: 2px;

  @media (max-width: 960px) {
    align-items: center;
  }
}

.summaryControls {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (max-width: 960px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}
.summaryControls button {
  min-width: 170px;
  @media (max-width: 960px) {
    min-width: unset;
  }
}

.sliderContainer {
  @media (max-width: 960px) {
    order: 2;
    flex-direction: row-reverse;
  }
}

.slider {
  padding-bottom: 18px;
}

.mainStat {
  display: flex;
  gap: 8px;
  align-items: center;
  min-width: 160px;

  @media (max-width: 1240px) {
    display: none;
  }

  p:first-child {
    font: var(--important-text-xl);
  }

  p:last-child {
    color: var(--content-secondary);
    font: var(--title-sm);
    text-transform: uppercase;
    max-width: 100px;
  }
}

.tooltipContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.tooltipRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 230px;
}
.tooltipRowLabel {
  color: var(--content-secondary);
  font: var(--title-sm);
  text-transform: uppercase;

  @media (max-width: 640px) {
    font: var(--title-xs);
  }
}

.tooltipRowValue {
  font: var(--body-text-md);

  @media (max-width: 640px) {
    font: var(--body-text-sm);
  }
}
