.headerTitleRow {
  display: flex;
  align-items: baseline;
  gap: 16px !important;
}

.checkbox {
  height: 18px;
  padding-left: 18px;
}

.termitated {
  background: var(--additional-lava-secondary);
}

.statusInfo,
.debtInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.statusInfoTitle,
.debtInfoTitle {
  font: var(--body-text-md);
}

.statusInfoSubtitle {
  font: var(--body-text-sm);
  text-transform: capitalize;
}

.debtInfoSubtitle {
  font: var(--body-text-sm);
}
