.content {
  cursor: default;
  display: flex;
  gap: 24px;
  width: 100%;
}

.tabsContentWrapper {
  border: var(--border-primary);
  border-left: 0;
  width: 100%;
}

.tabContent {
  min-height: 340px;
  overflow: hidden;
}

.list {
  display: flex;
  flex-direction: column;

  margin-right: 24px;
  max-width: 280px;
  min-width: 280px;
  width: 100%;
}
