.tableRoot {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.refinanceTable :global {
  .ant-table-tbody > tr > td {
    width: 285px;
  }
  .ant-table-tbody > tr > td:last-child {
    width: 144px;
  }
}

.refinanceCell {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;

  &.cardView {
    gap: unset;
  }
}

.aprCellValue {
  font: var(--important-text-md);
}

.solanaNftButton {
  padding: 2px !important;
}
.isCardView {
  position: absolute;
  top: 16px;
  right: 16px;
}

.searchSelect {
  max-width: 750px;
}
