.refinanceCell {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
}

.aprCellValue {
  font: var(--important-text-md);
}

.solanaNftButton {
  padding: 2px !important;
}
.isCardView {
  position: absolute;
  top: 16px;
  right: 16px;
}
