.tableRoot {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.refinanceTable :global {
  .ant-table-tbody > tr > td {
    width: 285px;
  }
  .ant-table-tbody > tr > td:last-child {
    width: 144px;
  }
}

.refinanceCell {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;

  &.cardView {
    gap: unset;
  }
}

.aprValue {
  font: var(--important-text-md) !important;
  white-space: nowrap;
}

.solanaNftButton {
  padding: 2px !important;
}
.isCardView {
  position: absolute;
  top: 16px;
  right: 16px;
}

.searchSelect {
  max-width: 750px;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-top: 1px solid var(--bg-border);

  @media (max-width: 960px) {
    flex-direction: column;
    gap: 24px;
  }

  @media (max-width: 640px) {
    gap: 16px;
  }
}

.collaterals {
  display: flex;
  gap: 8px;
  align-items: center;
  min-width: 220px;

  @media (max-width: 1240px) {
    display: none;
  }
}

.collateralsTitle {
  font: var(--important-text-xll);
  color: var(--content-primary);

  @media (max-width: 640px) {
    font: var(--important-text-xl);
  }
}

.collateralsSubtitle {
  font: var(--table-header-md);
  color: var(--content-secondary);
  text-transform: uppercase;
  max-width: 100px;

  @media (max-width: 960px) {
    max-width: unset;
  }

  @media (max-width: 640px) {
    font: var(--table-header-sm);
    width: 86px;
  }
}

.statsContainer {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;

  & > div {
    align-items: end;
  }

  @media (max-width: 1240px) {
    width: 100%;
    align-items: space-between;

    & > div {
      align-items: center;
    }
  }

  @media (max-width: 640px) {
    gap: 8px 8px;
  }
}

.summaryBtns {
  display: flex;
  align-items: center;
  gap: 16px;

  button {
    min-width: 190px;
  }

  @media (max-width: 960px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    button {
      min-width: unset;
    }
  }
}
