.pageWrapper {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  height: 100%;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.emptyContent {
  @media (max-width: 960px) {
    height: 100vh;
  }
}

.cardsList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 8px;
  gap: 8px;
  overflow-y: scroll;
  height: 100vh;
}

// * HeaderTokensList * //
.headerTokensList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  width: 100%;

  @media (max-width: 960px) {
    display: none;
  }
}

.headerTokenStats {
  display: flex;
  justify-content: flex-end;
  padding-right: 48px;
  gap: 16px;
  width: 100%;
  white-space: nowrap;
}

.headerTokenMainStat {
  min-width: 124px;
}

.headerTokenAdditionalStat {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  max-width: 180px;
  width: 100%;

  @media (max-width: 1240px) {
    max-width: 120px;
  }
}

.headerTokenStatLabel {
  color: var(--content-tertiary);
  font: var(--title-sm);
  text-transform: uppercase;
}
// * TokensListHeader * //
