.tableRoot {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.borrowTable table {
  tr {
    th,
    td {
      min-width: 220px;
      max-width: 220px;

      &:last-child {
        min-width: 120px;
        max-width: 120px;
      }
    }
  }
}

.headerTitleRow {
  display: flex;
  align-items: center;
  gap: 16px;
}

.checkbox {
  height: 18px;
  padding-left: 18px;
}

.searchSelect {
  max-width: 750px;
}

.borrowButton {
  width: 104px;
}
