.borrowTable :global {
  .ant-table-tbody > tr > td:last-child {
    text-align: -webkit-right;
  }
}

.headerTitleRow {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.checkbox {
  height: 18px;
  padding-left: 18px;
}

.searchSelect {
  max-width: 750px;
}

.feeCell {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.feeCellTitle {
  font: var(--body-text-md);
}

.feeCellSubtitle {
  font: var(--body-text-sm);
  text-transform: capitalize;
}
