.avatar {
  &,
  svg,
  img {
    border-radius: 50%;

    height: 40px;
    width: 40px;

    @media (max-width: 640px) {
      height: 32px;
      width: 32px;
    }
  }

  svg {
    rect {
      fill: var(--bg-secondary);
    }
    path {
      fill: var(--bg-border);
    }
  }
}
