.root {
  position: relative;
  width: 100%;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.iconContainer {
  fill: var(--gray-color-4);
  stroke: var(--gray-color-2);
}

.iconShape {
  fill: var(--gray-color-2);
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
