.nftInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.nftImageWrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.nftImage,
.selectedCollectionOverlay {
  width: 40px;
  height: 40px;
}

.selectedCollectionOverlay {
  background-color: var(--accent-primary);
  position: absolute;
  top: 0;
  left: 0;

  &:after {
    content: '';
    display: block;
    background: var(--content-primary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 11px;
  }
}
.nftNames {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.nftCollectionName {
  font: var(--card-header-md);
}
.nftNumber {
  font: var(--body-text-xs);
}

.checkbox {
  height: 18px;
  padding-left: 18px;
  margin-right: 8px;
}

.headerCell {
  display: flex;
  align-items: center;
  gap: 4px;
}

.activityTime {
  color: var(--content-primary);
  font: var(--body-text-sm);
  text-decoration: underline;

  &:hover {
    color: var(--content-primary);
    text-decoration: none;
  }
}