// * Table *//
.tableWrapper {
  height: 240px;
}

.table {
  min-width: 768px;

  tr > td,
  tr > th {
    padding: 4px !important;

    &:first-child {
      padding-left: 24px !important;
    }

    &:last-child {
      padding-right: 24px !important;
      width: 220px;
    }
  }
}
// * Table *//

// * ActiveTableRow *//
.terminated {
  background: var(--additional-lava-secondary) !important;
}

.repaymentCallActive {
  background: var(--additional-yellow-secondary) !important;
}
// * ActiveTableRow *//
