.container {
  border: var(--border-primary);
  border-left: 0;

  border-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  padding-top: 12px;

  width: 100%;
  height: 100%;
}

.table {
  width: 100%;

  tr > td,
  tr > th {
    height: 44px;
    width: 100%;
  }
}

.tableWrapper {
  height: 100%;
}

.tableLoader {
  height: 100%;

  path {
    fill: #9cff1f;
  }
}

// * Cells * //
.checkboxRow {
  display: flex;
  align-items: center;
  gap: 16px;
}

.checkbox {
  height: 16px;
  padding-left: 18px;
}

.aprRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aprValue {
  text-align: center;
}

.borrowValueContainer {
  color: var(--content-secondary);
  font: var(--important-text-lg);
  display: flex;
  flex-direction: column;
}

.ltvValue {
  color: var(--content-primary);
  font: var(--body-text-md);
}
// * Cells * //
