.container {
  border: var(--border-primary);
  border-left: 0;

  border-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  display: flex;
  padding: 12px 0;

  width: 100%;
  height: 100%;
}

.table {
  width: 100%;

  tr > td,
  tr > th {
    height: 44px;
    width: 100%;
  }
}

.tableWrapper {
  height: 338px;
}

// * Cells * //
.checkboxRow {
  display: flex;
  align-items: center;
  gap: 16px;
}

.checkbox {
  height: 16px;
  padding-left: 18px;
}

.borrowValueContainer {
  display: flex;
  flex-direction: column;
  gap: 1px;

  div {
    font: var(--important-text-lg);
  }
}

.ltvValue {
  font: var(--body-text-md);
}
// * Cells * //
