.sidebar {
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 24px;
  background: var(--bg-primary);

  @media screen and (max-width: 640px) {
    padding: 16px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (max-width: 1280px) {
    flex-direction: row;
  }

  @media screen and (max-width: 640px) {
    gap: 16px;
  }
}

.squadSection,
.claimSection {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1280px) {
    width: 100%;
  }
}

.stakedInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .stakedInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (max-width: 1280px) {
    padding-bottom: 8px;
  }
}

.titleWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  column-gap: 6px;

  span {
    color: var(--content-primary);
    font: var(--card-header-lg);

    @media screen and (max-width: 640px) {
      font: var(--card-header-md);
    }
  }

  @media screen and (max-width: 640px) {
    margin-bottom: 8px;
  }

  .icon {
    width: 32px;
    height: 32px;
    background: var(--bg-secondary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 640px) {
      width: 24px;
      height: 24px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.divider {
  background: var(--bg-border);
  margin: 8px 0;
  height: 1px;
  width: 100%;

  @media (max-width: 1280px) {
    margin-top: auto;
  }
}

.claimStatsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoSection {
  border: 1px dashed var(--content-secondary);
  font: var(--body-text-md);
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  padding: 16px;

  p {
    display: flex;
    gap: 8px;

    svg {
      fill: var(--content-secondary);
      height: 18px;
      width: 18px;
    }
  }

  @media (max-width: 640px) {
    padding: 8px 16px;
    margin: -16px;
    margin-top: 16px;
  }
}

.manageButton {
  width: 168px;

  @media (max-width: 960px) {
    width: 128px;
  }

  @media (max-width: 640px) {
    height: 24px !important;
    width: 64px;
  }
}

.stakingStatInfo {
  &.col {
    flex-direction: column-reverse;
    gap: 0;
  }

  .label {
    color: var(--content-primary);
  }

  .value {
    display: flex;
    align-items: center;
    gap: 4px;
    font: var(--important-text-lg);

    @media screen and (max-width: 640px) {
      font: var(--important-text-sm);

      svg {
        height: 12px;
        width: 12px;
      }
    }
  }
}
