.mainInfoContainer {
  display: flex;
  align-items: center;
  min-width: 260px;
  gap: 16px;

  @media (max-width: 640px) {
    gap: 8px;
  }
}

.mainInfoContent {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (max-width: 640px) {
    gap: 2px;
  }
}

.collectionImage {
  height: 64px;
  width: 64px;

  @media (max-width: 640px) {
    height: 48px;
    width: 48px;
  }
}

.collectionInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 1;

  svg {
    width: 16px;
    height: 16px;
  }
}

.collectionName {
  font: var(--title-lg);
  max-width: 290px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @media (min-width: 961px) and (max-width: 1240px), (max-width: 640px) {
    max-width: 176px;
  }

  @media (max-width: 640px) {
    font: var(--title-md);
  }
}

.tensorLink {
  svg path {
    fill: var(--content-secondary);
  }

  &:hover {
    svg path {
      fill: var(--content-primary);
    }
  }
}

.mainInfoStats {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 16px;
  width: 100%;

  @media (max-width: 640px) {
    & > div {
      gap: unset;
    }
  }
}

.additionalInfoStats {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  white-space: nowrap;
  width: 100%;

  & > div {
    align-items: flex-end;
    max-width: 240px;
    width: 100%;

    @media (max-width: 1380px) {
      max-width: 200px;
    }

    @media (max-width: 1240px) {
      max-width: 120px;
    }
  }

  @media (max-width: 960px) {
    justify-content: space-between;
    gap: unset;

    & > div {
      align-items: flex-start;
    }
    & > div:last-child {
      align-items: flex-end;
    }
  }

  &.hidden {
    @media (max-width: 640px) {
      display: none;
    }
  }
}

.aprValue {
  color: var(--additional-green-primary-deep);
}
