.tableRoot {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.tableRoot table {
  tr > td {
    width: 160px;

    &:first-child {
      min-width: 176px;
    }

    &:nth-last-child(-n + 2) {
      width: 100px;
    }
  }
}

.emptyList {
  margin-top: 0;
}

.lentInfo,
.statusInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;
}

.statusInfoTitle {
  font: var(--body-text-sm);
}
.statusInfoSubtitle {
  font: var(--body-text-sm);
}

.lentInfoSubtitle {
  font: var(--body-text-sm);
}

.aprValue {
  color: var(--additional-green-primary-deep);
  font: var(--important-text-md);
}

.searchSelect {
  max-width: 750px;
}

.headerTitleRow {
  display: flex;
  align-items: center;
  gap: 16px !important;
}

.checkbox {
  height: 18px;
  padding-left: 18px;
}

.filterButtonWrapper {
  position: relative;

  &[data-underwater-loans]::after {
    content: attr(data-underwater-loans);
    color: var(--additional-yellow-primary-deep);
    background: var(--additional-yellow-secondary);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 7px;
    right: -14px;
    min-width: 12px;
    height: 16px;
    padding: 0 6px;
    font: var(--body-text-xs);
  }
}

.filterButton {
  svg path:nth-child(2) {
    fill: var(--additional-yellow-primary-deep);
  }
  circle {
    fill: var(--content-primary);
  }

  &.active {
    border-color: var(--content-primary);
  }
}

//? Active row styles
.terminated {
  background: var(--additional-lava-secondary) !important;
}

.liquidated {
  background: var(--additional-red-secondary) !important;
}

.underwater {
  background: var(--additional-yellow-secondary) !important;
}
