.tableRoot {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.table {
  min-width: 1084px;

  table {
    tr > td,
    tr > th {
      width: 144px;

      &:first-child {
        width: 220px;
      }
    }
  }
}

.nftCellCheckbox {
  pointer-events: none;
}

.emptyList {
  margin-top: 0;
}

.lentInfo,
.statusInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;
}

.statusInfoTitle {
  font: var(--body-text-sm);
}
.statusInfoSubtitle {
  font: var(--body-text-md);

  @media (max-width: 640px) {
    font: var(--body-text-sm);
  }
}

.lentInfoSubtitle {
  font: var(--body-text-sm);
  white-space: nowrap;
}

.searchSelect {
  max-width: 456px;
}

.headerTitleRow {
  display: flex;
  align-items: center;
  gap: 16px !important;
  height: 14px;
}

.checkbox {
  height: 16px;
  padding-left: 18px;
}

.filterButtonWrapper {
  position: relative;

  &[data-underwater-loans]::after {
    content: attr(data-underwater-loans);
    color: var(--additional-yellow-primary-deep);
    background: var(--additional-yellow-secondary);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 7px;
    right: -14px;
    min-width: 12px;
    height: 16px;
    padding: 0 6px;
    font: var(--body-text-xs);
  }
}

.filterButton {
  svg path:nth-child(2) {
    fill: var(--additional-yellow-primary-deep);
  }

  &.active {
    border-color: var(--content-primary);
  }

  &.disabled {
    path {
      fill: var(--content-secondary);
    }
  }
}

//? Active row styles
.terminated {
  background: var(--additional-lava-secondary) !important;
}

.liquidated {
  background: var(--additional-red-secondary) !important;
}

.underwater {
  background: var(--additional-yellow-secondary) !important;
}

.tooltipContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.tooltipContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 220px;

  span:first-child {
    color: var(--content-secondary);
    font: var(--title-sm);
    text-transform: uppercase;

    @media (max-width: 640px) {
      font: var(--title-xs);
    }
  }

  span:last-child {
    color: var(--pure-white);
    font: var(--body-text-md);

    @media (max-width: 640px) {
      font: var(--body-text-sm);
    }
  }
}
