.labelWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.columnFlex {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rowFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.label {
  color: var(--content-secondary);
  font: var(--table-header-md);
  text-transform: uppercase;

  @media (max-width: 768px) {
    font: var(--table-header-sm);
  }
}

.value {
  font: var(--body-text-md);

  @media (max-width: 768px) {
    font: var(--body-text-sm);
  }
}

.secondValue {
  font: var(--body-text-sm);

  @media (max-width: 768px) {
    font: var(--body-text-xs);
  }
}
