.container {
  display: flex;
  padding: 0 24px;
  gap: 24px;
  width: 100%;
}

.nftsSection,
.additionalContentSection {
  width: 50%;
}

.cardsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 2fr));
  gap: 24px;
  padding-top: 12px;
  max-height: 480px;
  overflow: auto;
}

.availableToBorrow {
  .stats {
    display: flex;
    align-items: center;
    gap: 16px;
    min-height: 148px;
    margin: 12px 0 16px;
    width: 100%;

    & > div {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 64px;
      width: 100%;
    }
  }

  .button {
    text-decoration: none;
    width: 100%;
  }
}

.loansContainer {
  .loansHeading {
    display: flex;
    align-items: center;
    padding: 24px 0 12px;
    font: var(--title-sm);
    text-transform: uppercase;
    line-height: 32px;
  }

  .loansContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    gap: 24px;
    min-height: 136px;
    height: 100%;
    width: 100%;
  }

  .loansStatsContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  .loansStats {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .loansChartStats {
    display: flex;
    flex-direction: column;

    & > div:nth-child(odd) {
      background: var(--bg-primary-deep);
    }
  }

  .manageLoansButton {
    margin-bottom: 24px;
    width: 100%;
  }

  .doughnutChart {
    width: 136px;
    height: 136px;
  }
}
