.container {
  display: flex;
  padding: 0 24px;
  gap: 24px;
  width: 100%;
}

.nftsSection,
.additionalContentSection {
  width: 50%;
}

.collectionsCardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 2fr));
  gap: 24px;
  max-height: 480px;
  height: 100%;
  overflow: auto;
}
