.tableRoot {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.borrowTable {
  min-width: 796px;

  tr > td,
  tr > th {
    &:first-child {
      width: 220px;
    }
    &:last-child {
      width: 144px;
    }
  }

  @media (max-width: 640px) {
    min-width: 614px;

    tr > td,
    tr > th {
      width: 96px;

      &:nth-child(3) {
        width: 110px;
      }

      &:first-child {
        width: 168px;
      }
    }
  }
}

.headerTitleRow {
  display: flex;
  align-items: center;
  gap: 16px;
}

.checkbox {
  height: 18px;
  padding-left: 18px;
}

.searchSelect {
  max-width: 456px;
}

.borrowButton {
  width: 104px;
}

.ltvValue {
  color: var(--additional-green-primary-deep);
}
.tooltipContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.tooltipRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 230px;
}
.tooltipRowLabel {
  color: var(--content-secondary);
  font: var(--title-sm);
  text-transform: uppercase;

  @media (max-width: 640px) {
    font: var(--title-xs);
  }
}
.tooltipRowValue {
  font: var(--body-text-md);

  @media (max-width: 640px) {
    font: var(--body-text-sm);
  }
}
