.nftTokenSwitcher,
.tokenSwitcher {
  background: var(--bg-tertiary);
  border: var(--border-primary);
  border-radius: 100px;

  display: flex;
  align-items: center;
  padding: 2px;
  height: 32px;

  user-select: none;
  -webkit-user-drag: none;
  cursor: pointer;
}

.nftTokenWrapper,
.tokenWrapper {
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;

  &.active {
    background: var(--accent-primary);

    span {
      color: var(--pure-black);
    }
  }
}

.nftTokenWrapper {
  padding: 4px 8px;
}

.tokenWrapper {
  padding: 5px 14px;
}

.tokenValue {
  display: flex;
  align-items: center;
  column-gap: 4px;

  svg {
    width: 18px;
    height: 18px;
  }
}

.tokenIconWrapper {
  width: 18px;
  height: 18px;
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 50%;
}

.tokenIconSolWrapper {
  background: var(--bg-primary);
}

.tokenTicker {
  //? Compensate chakra font bottom margin to make an ideal horizontal alignment
  padding-top: 1px;
  font: var(--btn-text-sm);
  color: var(--content-primary);
}

// * TokenDropdown * //
.dropdownButton {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;

  &.isOpen {
    border: 1px solid var(--content-primary);
  }

  span {
    font: var(--btn-text-sm);
  }

  svg path {
    fill: revert-layer;
  }
}

.chevronIcon {
  path {
    fill: var(--content-primary) !important;
  }

  &.rotate {
    transform: rotate(180deg);
  }
}

// * TokenDropdown * //
.dropdown {
  background: var(--bg-primary);
  border-bottom: var(--border-primary);

  position: absolute;
  top: 48px;
  right: 0;
  z-index: 4;

  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;

  padding: 16px;
  width: 100%;
}

.dropdownItem {
  background: var(--bg-tertiary);
  border: var(--border-primary);
  border-radius: 100px;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 4px;
  padding: 7px 14px;
  height: 32px;

  svg {
    min-height: 16px;
    min-width: 16px;
  }

  svg path {
    fill: revert-layer;
  }

  &.active {
    background: var(--accent-primary);

    span {
      color: var(--pure-black);
    }
  }
}

.dropdownItemLabel {
  font: var(--btn-text-sm);
}
// * TokenDropdown * //
