.nftTokenSwitcher,
.tokenSwitcher {
  background: var(--bg-secondary);
  border: var(--border-primary);
  border-radius: 100px;

  display: flex;
  align-items: center;
  padding: 2px;
  height: 32px;

  user-select: none;
  -webkit-user-drag: none;
  cursor: pointer;
}

.nftTokenWrapper,
.tokenWrapper {
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;

  &.active {
    background: var(--accent-primary);

    span {
      color: var(--pure-black);
    }
  }
}

.nftTokenWrapper {
  padding: 4px 8px;
}

.tokenWrapper {
  padding: 5px 14px;
}

.tokenValue {
  display: flex;
  align-items: center;
  column-gap: 4px;

  svg {
    width: 18px;
    height: 18px;
  }
}

.tokenIconWrapper {
  width: 18px;
  height: 18px;
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 50%;
}

.tokenIconSolWrapper {
  background: var(--bg-primary);
}

.tokenTicker {
  //? Compensate chakra font bottom margin to make an ideal horizontal alignment
  padding-top: 1px;
  font: var(--btn-text-sm);
  color: var(--content-primary);
}
