// * InstantLendTable * //
.tableRoot {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.refinanceTable {
  min-width: 972px;

  tr > td,
  tr > th {
    &:first-child {
      width: 220px;
    }

    &:last-child {
      width: 160px;
    }
  }

  @media (max-width: 1240px) {
    tr > td,
    tr > th {
      width: 110px;

      //? Weekly interest cell
      &:nth-child(4) {
        width: 136px;
      }
    }
  }

  @media (max-width: 640px) {
    min-width: 848px;

    tr > td,
    tr > th {
      width: 96px;

      &:first-child {
        width: 168px;
      }
    }
  }
}
// * InstantLendTable * //

// * Cells * //
.headerTitleRow {
  display: flex;
  align-items: center;
  gap: 16px;
}
.checkbox {
  height: 18px;
  padding-left: 18px;
}

.tooltipContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tooltipContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;

  span:first-child {
    color: var(--content-secondary);
    font: var(--title-sm);
    text-transform: uppercase;

    @media (max-width: 640px) {
      font: var(--title-xs);
    }
  }

  span:last-child {
    color: var(--pure-white);
    font: var(--body-text-md);

    @media (max-width: 640px) {
      font: var(--body-text-sm);
    }
  }
}
// * Cells * //

// * ActionsCell * //
.actionsCell {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;

  &.cardView {
    gap: unset;
  }
}

.tensorButtonLink {
  &.cardView {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}
// * ActionsCell * //

// * Summary * //
.summary {
  border-top: 1px solid var(--bg-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;

  @media (max-width: 1240px) {
    flex-direction: column;
    padding: 16px;
    gap: 8px;
  }
}

.mainStat {
  display: flex;
  gap: 8px;
  align-items: center;
  min-width: 144px;

  @media (max-width: 1240px) {
    display: none;
  }

  p:first-child {
    font: var(--important-text-3xl);
  }

  p:last-child {
    color: var(--content-secondary);
    font: var(--title-sm);
    text-transform: uppercase;
    max-width: 100px;
  }
}

.statsContainer {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  width: 100%;

  @media (max-width: 640px) {
    gap: 8px;
  }
}
.statsContainer > div {
  align-items: end;
  gap: unset;

  @media (max-width: 1240px) {
    align-items: center;
  }
}

.summaryControls {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (max-width: 1240px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

.sliderContainer {
  @media (max-width: 1240px) {
    flex-direction: row-reverse;
    order: 2;
  }
}

.lendButton {
  min-width: 190px;

  @media (max-width: 1240px) {
    min-width: 176px;
  }

  &:disabled {
    svg path:first-child {
      fill: var(--content-secondary);
    }
  }
}
// * Summary * //

.searchSelect {
  max-width: 456px;
}
