.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 24px 12px 24px;
  gap: 24px;
  width: 100%;
}

.heading {
  font: var(--title-sm);
  text-transform: uppercase;
  min-width: 276px;
}
