.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0 12px;
  gap: 24px;
  width: 100%;
}

.searchableHeading {
  font: var(--title-sm);
  text-transform: uppercase;
  min-width: 294px;
}

.heading {
  display: flex;
  align-items: center;
  height: 76px;
  font: var(--title-sm);
  text-transform: uppercase;
}
