.container {
  border-top: 1px solid var(--bg-border);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 24px;
  gap: 16px;
  width: 100%;

  @media (max-width: 960px) {
    flex-direction: column;
    padding: 16px;
    gap: 8px;
  }
}

.stats {
  display: flex;
  align-items: center;
  gap: 24px;

  & > div {
    gap: 0;
  }

  @media (max-width: 960px) {
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
  }
}

.claimButton {
  width: 128px;

  @media (max-width: 960px) {
    width: 100%;
  }
}
