.container {
  border-top: 1px solid var(--bg-border);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 24px;
  gap: 24px;
  width: 100%;

  @media (max-width: 960px) {
    flex-direction: column;
    padding: 16px;
    gap: 8px;
  }
}

.stats {
  display: flex;
  align-items: center;
  gap: 24px;

  & > div {
    align-items: flex-end;
    gap: 0;
  }

  @media (max-width: 960px) {
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
  }
}

.claimButton {
  width: 128px;

  @media (max-width: 960px) {
    width: 100%;
  }
}

// * TooltipContent * //
.tooltipContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tooltipRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 230px;
}

.tooltipRowLabel {
  color: var(--content-secondary);
  font: var(--title-sm);
  text-transform: uppercase;

  @media (max-width: 640px) {
    font: var(--title-xs);
  }
}

.tooltipRowValue {
  font: var(--body-text-md);

  @media (max-width: 640px) {
    font: var(--body-text-sm);
  }
}
// * TooltipContent * //
