.container {
  cursor: default;
  display: flex;
  overflow: hidden;
  height: 348px;
  width: 100%;

  @media (max-width: 640px) {
    flex-direction: column-reverse;
    height: unset;
  }
}

.tabsContent {
  border: var(--border-less-primary);
  border-right: 0;
  border-bottom: 0;
  width: 100%;
}

.activityTableWrapper {
  height: 250px;
}

// * Form * //
.form {
  padding: 12px 24px;
}

.fields {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  width: 220px;

  & > div {
    max-width: 104px;
  }
}

.sliderContainer {
  max-width: unset !important;
}

.summary {
  border-color: var(--bg-border);
  border-style: dotted;
  border-width: 1px 0 1px 0;

  display: flex;
  flex-direction: column;
  margin: 12px -24px;
  padding: 12px 24px;
  gap: 8px;

  @media (max-width: 640px) {
    border-left: 0;
    border-right: 0;
    gap: 4px;
    margin: 0 -16px 8px;
  }
}

.fixedValueContent {
  max-width: 74px;
  white-space: nowrap;
  overflow: auto;

  @media (max-width: 960px) {
    max-width: 144px;
  }
}

.submitButton {
  width: 100%;
}
// * Form * //

// * CurrencyInputPlug * //
.currencyInputPlugWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.currencyLabelPlug {
  color: var(--content-secondary);
  font: var(--table-header-sm);
  text-transform: uppercase;
  white-space: nowrap;

  @media (max-width: 640px) {
    font: var(--table-header-xs);
  }
}
.currencyInputPlug {
  background: var(--bg-action);
  border: var(--border-primary);
  border-radius: 6px;

  display: flex;
  align-items: center;
  gap: 8px;

  padding: 4px 8px;
}
.currencyPlug {
  border: var(--border-primary);
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 8px;
  height: 24px;

  span {
    color: var(--content-secondary);
    font: var(--card-header-sm);
  }
}
.chevronIconPlug {
  path {
    fill: var(--content-secondary);
  }
}
// * CurrencyInputPlug * //
