.allocationHeading {
  display: flex;
  align-items: center;
  height: 40px;

  font: var(--title-sm);
  text-transform: uppercase;
}

.allocationContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0 16px;
  gap: 24px;
  width: 100%;
}

.allocationStatsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.allocationStats {
  display: flex;
  align-items: center;
  gap: 16px;
}

.allocationChartStats {
  display: flex;
  flex-direction: column;

  & > div:nth-child(odd) {
    background: var(--bg-primary-deep);
  }
}

.manageOffersButton {
  width: 100%;
}
