.allocationHeading {
  font: var(--title-sm);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin: 24px 12px;
  height: 40px;
}

.allocationContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
}

.allocationStatsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.allocationStats {
  display: flex;
  align-items: center;
  gap: 16px;
}

.manageOffersButton {
  margin-top: 16px;
  width: 100%;
}

.allocationChartStats {
  display: flex;
  flex-direction: column;
}
.chart {
  border-radius: 100%;
  background: red;
  min-height: 144px;
  min-width: 144px;
}
