.layout {
  border: var(--border-less-primary);

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1600px;
  height: 100vh;
}

.container {
  display: flex;
  overflow: hidden;
  position: relative;
}

.content {
  background-color: var(--bg-tertiary);

  flex: 1;
  overflow: auto;
  position: relative;
}

.notificationsSider {
  z-index: 6;
  position: absolute;
  top: 0;
  right: 0;
  width: 432px;
  height: 100%;
  border-left: 1px solid var(--bg-border);
  @media screen and (max-width: 960px) {
    width: 100%;
    border-left: unset;
  }
}
