.layout {
  height: 100vh;
}

.container {
  overflow-y: auto;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  padding-top: 72px;
  height: 100vh;

  position: relative;
  left: 197px;
  width: calc(100vw - 207px);

  @media (max-width: 960px) {
    left: 0;
    width: 100vw;
  }
}
