.content {
  padding: 24px;
}

.title {
  font: var(--font-text-5);
  font-size: 16px;
}

.offerSummary {
  border: 1px dotted var(--bg-border);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  margin: 32px 0 16px;
}

.fields {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.numericField {
  width: 100%;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.button {
  height: 40px;
  width: 100%;
}

.deleteOfferButton {
  color: var(--red-color);
  border-color: var(--red-color);
  background-color: var(--light-red-color);

  &:hover {
    background-color: var(--light-red-color-hover);
  }
}
